{% extends 'index.html' %}
{% load static %}

{% block content %}

<section id="sign">
    <h3>
        {% if profile_form.errors %}
            <b>{{ profile_form.errors }}</b>
        {% endif %}
    </h3>
    <div class="wrapper">
        <div class="sign-form up">
            <h3 class="sf__title txt-uppercase txt-orange">Sign up</h3>
            <div class="sf__external">
                <ul>
                    <li><a href="#" class="soc__facebook"><i class="facebook f icon"></i><span>Sign in with Facebook</span></a></li>
                    <li><a href="#" class="soc__vk"><i class="vk icon"></i><span>Sign in with VKontakte</span></a></li>
                    <li><a href="#" class="soc__twitter"><i class="twitter icon"></i><span>Sign in with Twitter</span></a></li>
                    <li><a href="#" class="soc__gplus"><i class="google plus icon"></i><span>Sign in with Google</span></a></li>
                </ul>
            </div>
            <div class="sf__separetor">
                <span>or</span>
            </div>
            <form action="" method="POST">
                <div class="sf__row">
                    <div class="sf-input-gr">
                        <input type="text" id="sf-fname" name="first_name" class="sf-field" placeholder="First name">
                    </div>
                    <div class="sf-input-gr">
                        <input type="text" id="sf-lname" name="last_name" class="sf-field" placeholder="Last name">
                    </div>
                </div>
                <div class="sf__row">
                    <div class="sf-input-gr date">
                        <div class="sf-date">
                            <div class="sf__day-con">
                                <select class="ui selection dropdown date" name="day" id="sf-day">
                                    <option value="">Day</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="28">27</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="sf__month-con">
                                <select class="ui selection dropdown date" name="month" id="sf-month">
                                    <option value="">Month</option>
                                    <option value="0">Jan</option>
                                    <option value="1">Feb</option>
                                    <option value="2">Mar</option>
                                    <option value="3">Apr</option>
                                    <option value="4">May</option>
                                    <!-- Saving your scroll sanity !-->
                                    <option value="5">Jun</option>
                                    <option value="6">Jul</option>
                                    <option value="7">Aug</option>
                                    <option value="8">Sep</option>
                                    <option value="9">Oct</option>
                                    <option value="10">Nov</option>
                                    <option value="11">Dec</option>
                                </select>
                            </div>
                            <div class="sf__year-con">
                                <select class="ui selection dropdown date" name="year" id="sf-year">
                                    <option value="">Year</option>
                                    <option value="">Year</option>
                                        <option value="1960">1960</option>
                                        <option value="1961">1961</option>
                                        <option value="1962">1962</option>
                                        <option value="1963">1963</option>
                                        <option value="1964">1964</option>
                                        <option value="1965">1965</option>
                                        <option value="1966">1966</option>
                                        <option value="1967">1967</option>
                                        <option value="1968">1968</option>
                                        <option value="1969">1969</option>
                                        <option value="1970">1970</option>
                                        <option value="1971">1971</option>
                                        <option value="1972">1972</option>
                                        <option value="1973">1973</option>
                                        <option value="1974">1974</option>
                                        <option value="1975">1975</option>
                                        <option value="1976">1976</option>
                                        <option value="1977">1977</option>
                                        <option value="1978">1978</option>
                                        <option value="1979">1979</option>
                                        <option value="1980">1980</option>
                                        <option value="1981">1981</option>
                                        <option value="1982">1982</option>
                                        <option value="1983">1983</option>
                                        <option value="1984">1984</option>
                                        <option value="1985">1985</option>
                                        <option value="1986">1986</option>
                                        <option value="1987">1987</option>
                                        <option value="1988">1988</option>
                                        <option value="1989">1989</option>
                                        <option value="1990">1990</option>
                                        <option value="1990">1990</option>
                                        <option value="1991">1991</option>
                                        <option value="1992">1992</option>
                                        <option value="1993">1993</option>
                                        <option value="1994">1994</option>
                                        <!-- Saving your scroll sanity !-->
                                        <option value="1995">1995</option>
                                        <option value="1996">1996</option>
                                        <option value="1997">1997</option>
                                        <option value="1998">1998</option>
                                        <option value="1999">1999</option>
                                        <option value="2000">2000</option>
                                        <option value="2001">2001</option>
                                        <option value="2002">2002</option>
                                        <option value="2003">2003</option>
                                        <option value="2004">2004</option>
                                        <option value="2005">2005</option>
                                        <option value="2006">2006</option>
                                        <option value="2007">2007</option>
                                        <option value="2008">2008</option>
                                        <option value="2009">2009</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="sf-input-gr">
                        <div id="sf-gender" class="ui selection dropdown sf-field">
                            <input type="hidden" name="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Gender</div>
                            <div class="menu">
                                <div class="item" data-value="1" data-text="Male">
                                    <img src="{% static 'images/profile/no_photo_male.png' %}">
                                    Male
                                </div>
                                <div class="item" data-value="0" data-text="Female">
                                    <img src="{% static 'images/profile/no_photo_female.png' %}">
                                    Female
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sf__row">
                    <div class="sf-input-gr">
                        <select class="ui selection dropdown cc country" name="country" data-cat="country" id="sf-country">
                            <option value="">Country</option>
                        </select>
                    </div>
                    <div class="sf-input-gr">
                        <select class="ui selection dropdown cc city" name="city" data-cat="city" id="sf-city">
                            <option value="">City</option>
                        </select>
                    </div>
                </div>
                <div class="sf__row">
                    <div class="sf-input-gr">
                        <input type="text" id="sf-address" name="address" class="sf-field" placeholder="Address">
                    </div>
                    <div class="sf-input-gr">
                        <input type="tel" id="sf-lname" name="phone" class="sf-field" placeholder="Phone">
                    </div>
                </div>
                <div class="sf__row">
                    <div class="sf-input-gr">
                        <input type="text" id="sf-username" name="username" data-action="username" data-target="#sf-send" class="sf-field" placeholder="Username">
                    </div>
                    <div class="sf-input-gr">
                        <input type="email" id="sf-email" name="email" data-action="email" data-target="#sf-send" class="sf-field" placeholder="Email">
                    </div>
                </div>
                <div class="sf__row">
                    <div class="sf-input-gr">
                        <input type="password" id="sf-pswd" name="password" class="sf-field" placeholder="Password">
                    </div>
                    <div class="sf-input-gr">
                        <input type="password" id="sf-pswd-con" name="password_confirm" class="sf-field" placeholder="Confirm password">
                    </div>
                </div>
                <button type="submit" id="sf-send" class="ui orange button txt-uppercase">Sign up</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/signup.js' %}"></script>
    <script>
    $(function() {
        // set min-height to main container;
        $('#profile-container').css(
            'min-height',
            (
                $(window).height() - ( $('footer').outerHeight() + $('header').outerHeight() )
            ) + 'px'
        );
    });
</script>
{% endblock %}