{% extends 'index.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% block content %}
    <section id="sign">
			<div class="wrapper">
				<div class="sign-form">
					<h3 class="sf__title txt-uppercase txt-orange">Sign in</h3>
					<div class="sf__external">
						<ul>
							<li><a href="{% provider_login_url "facebook" method="oauth2" %}" class="soc__facebook"><i class="facebook f icon"></i><span>Sign in with Facebook</span></a></li>
							<li><a href="{% provider_login_url "vk" method="oauth2" %}" class="soc__vk"><i class="vk icon"></i><span>Sign in with VKontakte</span></a></li>
							<li><a href="{% provider_login_url "twitter" method="oauth2" %}" class="soc__twitter"><i class="twitter icon"></i><span>Sign in with Twitter</span></a></li>
							<li><a href="{% provider_login_url "google" method="oauth2" %}" class="soc__gplus"><i class="google plus icon"></i><span>Sign in with Google</span></a></li>
						</ul>
					</div>
                    <div class="sf__separetor">
						<span>or</span>
					</div>
                    <form id="login-form" action="{% url 'account:check_user' %}" method="POST">
                        <div class="sf__row">
                            <div class="sf-input-gr">
                                <input type="text" name="username" id="sf-username" class="sf-field" placeholder="Username or Email" autocomplete="off">
                                <div class="login-notify">
                                    <div class="ln__con">
                                        <i class="warning circle icon"></i>
                                        <div class="ln-popup">
                                            <div class="ln__popup-con pp-left">
                                                <p>Username or password is incorrect!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sf__row">
                            <div class="sf-input-gr">
                                <input type="password" name="password" id="sf-pswd" class="sf-field" placeholder="Password" autocomplete="off">
                            </div>
                        </div>
						<div class="sf__forgot"><a href="#" class="txt-orange">Forgot password?</a></div>
						<button type="submit" class="ui orange button txt-uppercase sign-in-button">Sign in</button>
					</form>
                    <div class="sf__signup">New to Findyourtraining? <a href="{% url 'account:register' %}" class="txt-orange">Sign up</a></div>
				</div>
			</div>
		</section>
{% endblock %}
{% block script %}
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script>
    $(function() {
        // set min-height to main container;
        $('#profile-container').css(
            'min-height',
            (
                $(window).height() - ( $('footer').outerHeight() + $('header').outerHeight() )
            ) + 'px'
        );
    });
</script>
{% endblock %}