@font-face {
  font-family: 'Lemon-Milk';
  src: url('fonts/lemon-milk/LemonMilk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url('fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: url('fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/open-sans/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiboldItalic';
  src: url('fonts/open-sans/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('fonts/proxima-nova/proximanova-black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('fonts/proxima-nova/proximanova-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-BoldItalic';
  src: url('fonts/proxima-nova/proximanova-boldit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-ExtraBold';
  src: url('fonts/proxima-nova/proximanova-extrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/proxima-nova/proximanova-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-LightItalic';
  src: url('fonts/proxima-nova/proximanova-lightitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-RegularItalic';
  src: url('fonts/proxima-nova/proximanova-regularitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('fonts/proxima-nova/proximanova-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url('fonts/proxima-nova/proximanova-semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-SemiboldItalic';
  src: url('fonts/proxima-nova/proximanova-semibolditalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondLight';
  src: url('fonts/proxima-nova/proximanovacond-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondLightItalic';
  src: url('fonts/proxima-nova/proximanovacond-lightit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondRegular';
  src: url('fonts/proxima-nova/proximanovacond-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondSemiBold';
  src: url('fonts/proxima-nova/proximanovacond-semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondSemiboldItalic';
  src: url('fonts/proxima-nova/proximanovacond-semiboldit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*/

/* ProximaNova cyrilic */
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-BoldItalic';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-BoldIt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-LightItalic';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-LightIt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-Reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-RegularItalic';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-RegIt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-ExtraBold';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-Xbold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-SemiboldItalic';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-SemiboldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondLight';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-CondLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondLightItalic';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-CondLightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondRegular';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-CondRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondSemiBold';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-CondSemibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-CondSemiboldItalic';
  src: url('fonts/proxima-nova/cyrilic/ProximaNova-CondSemiboldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/roboto/Roboto-Bold.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/roboto/Roboto-Light.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/roboto/Roboto-Medium.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/roboto/Roboto-Regular.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('fonts/roboto/Roboto-Thin.woff2') format('woff2'),
       url('fonts/roboto/Roboto-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}