html, body {
	font-size: 16px;
	font-family: ProximaNova-Regular;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none;
}
p, ul, h1, h2, h3, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h3, h4, h5, h6 { font-family: Lemon-Milk; line-height: 1; }
h1 { font-size: 3.875rem; }
h2 { font-size: 3rem; }
h3 { font-size: 1.875rem; }
h4 { font-size: 1.125rem; }

ul {
	list-style: none;
}


*, *:after, *:before { box-sizing: border-box; }

.txt-uppercase { text-transform: uppercase !important; }
.txt-orange { color: #ef5a1f; !important; }
.txt-black { color: #000; !important; }
.txt-underline { text-decoration: underline !important; }
.txt-sb { font-family: ProximaNova-SemiBold; }

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

body {
	position: relative;
	padding-top: 63px;
}
textarea {
	resize: none;
}

#main {
	min-width: 320px;
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
}

.wrapper {
	display: block;
	width: 1170px;
	margin: 0 auto;
	position: relative;
}

.hd-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #f9f9f9;
	padding: 12px 0;
	min-height: 63px;
	z-index: 4500;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.hd-fixed .wrapper:after {
	content: '';
	display: table;
	clear: both;
}
.hd-fixed #menu,
.hd-fixed .lang-auth {
	display: block;
	float: left;
}
.hd-fixed #menu {
	position: relative;
	width: 75%;
	padding: 10px 4px;
}
.hd-fixed #menu ul {
	color: #222;
}
#menu ul li {
	display: inline-block;
	vertical-align: middle;
}
#menu ul li + li {
	margin-left: 30px;
}
#menu ul li a {
	position: relative;
	padding: 0.425rem 0;
	color: #222;
	transition: color 0.35s ease;
}
#menu ul li a:hover {
	color: #ef5a1f;
	transition: color 0.35s ease;
}
#menu ul li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #ef5a1f;
	visibility: hidden;
	border-radius: 5px;
	transform: scaleX(0);
	transition: .25s linear;
}
#menu ul li a:hover:before,
#menu ul li a:focus:before {
	visibility: visible;
	transform: scaleX(1);
}



.hd-fixed .lang-auth {
	width: 25%;
	padding: 0;
	color: #57606d;
	text-align: right;
}
.hd-fixed .lang-auth:after {
	content: '';
	display: table;
	clear: both;
}
.lang-auth .la-item {
	display: inline-block;
	vertical-align: middle;
}
.lang-auth .la-item + .la-item {
	padding-left: 1%;
}
.lang-auth .la-item.la-item__lang {
	max-width: 85%;
}
.lang-auth .la-item.la-item__lang .text,
.lang-auth .la-item.la-item__lang .default {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.lang-auth .la-item.la-item__lang .text span,
.lang-auth .la-item.la-item__lang .default span {
	display: block;
	width: 100%;
	padding-left: 20px;
}
.lang-auth .la-item.la-item__lang .text i,
.lang-auth .la-item.la-item__lang .default i {
	display: block;
	float: left;
	margin: 1px 5px 0 0;
	padding: 0;

}



.lang-auth .la-item.la-item__auth {
	padding: 10px 0;
}
.lang-auth .auth {
	color: #57606d;
	position: relative;
	padding-bottom: 0.425rem;
	transition: color 0.3s ease;
}
.lang-auth .auth:hover {
	color: #ef5a1f;
	transition: color 0.3s ease;
}
.lang-auth .auth:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background: #ef5a1f;
	visibility: hidden;
	border-radius: 5px;
	transform: scaleX(0);
	transition: .25s linear;
}
.lang-auth .auth:hover:before,
.lang-auth .auth:focus:before {
	visibility: visible;
	transform: scaleX(1);
}
#ch-lang {
	min-width: 150px;
	max-width: 100%;
	background-color: #f9f9f9;
	border: none;
}
#ch-lang .default.text {
	color: #57606d;
}
#ch-lang #menu {
	background-color: #f9f9f9;
}
#ch-lang #menu .item {
	white-space: nowrap;
}
#ch-lang #menu .item:after {
	content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    z-index: 2;
    background-color: #fafafa;
}
#ch-lang #menu .item.selected,
#ch-lang #menu .item:hover {
	background-color: #f0f0f0;
}
#ch-lang #menu .item.selected:after,
#ch-lang #menu .item:hover:after {
	background-color: #f0f0f0;
}



#home {
	position: relative;
	min-height: 600px;
	overflow: hidden;
}
#home .h-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	min-height: inherit;
	z-index: 0;
}
#home .wrapper {
	display: inline-table;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.comp-info {
	width: 100%;
	text-align: center;
}
.comp-info .logo {
	width: 100%;
}
.comp-info .logo img {
	max-width: 100%;
}
.comp-info .slogan {
	line-height: 1;
	color: #fff;
	letter-spacing: 5px;
	margin: 30px 0 45px 0;
}
.form-block {
	text-align: center;
	font-family: ProximaNova-Bold, sans-serif;
	font-size: 16px;
	color: #fff;
}
.select-gr .ui.selection.dropdown {
	margin: 0 10px;
	width: 250px;
	background: rgba(57, 57, 57, 0);
	border: 3px solid #fff;
	border-radius: 0;
}
.form-block .select-gr {
	margin-bottom: 10%;
}


.select-gr .ui.selection.dropdown>.delete.icon,
.select-gr .ui.selection.dropdown>.dropdown.icon,
.select-gr .ui.selection.dropdown>.search.icon {
	font-size: 18px;
	color: #fff !important;
	opacity: 1;
	padding: .58em;
}
.select-gr .ui.dropdown .default.text,
.select-gr .ui.dropdown .text {
	color: #fff !important;
	opacity: 1;
}
.select-gr .ui.dropdown .menu {
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	color: #fff;
}
.select-gr .ui.dropdown .menu .item {
	border: none;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	text-transform: uppercase;
	font-size: 14px;
}
.select-gr .ui.dropdown .menu .item:hover {
	background-color: #ef5a1f;
	color: #fff;
}
.ui.orange.button {
    border-radius: 0;
    padding: 12px 40px;
    background-color: #ef5a1f;
}
.ui.orange.button:hover {
	background-color: #ff7701;
}
.ui.grey.button {
    border-radius: 0;
    padding: 12px 40px;
}


.map {
	min-height: 600px;
	position: relative;
	padding: 120px 0 60px 0;
}
.parallaxie {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.direct {
	position: relative;
	z-index: 2;
	width: 400px;
	margin-left: 50%;
	border: 4px solid #ef5a1f;
	padding: 30px;
    background: rgba(255, 255, 255, 0.8);
}
.direct__wrapper {
	text-align: center;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 0;
}
.direct__title {
    display: inline-block;
    background: #f9f9f9;
    padding: 0 10px;
    height: 5px;
}
.direct__title span {
    position: relative;
    bottom: 11px;
}
.direct__preview {
	line-height: 1.5rem;
}
.direct__cols {
	margin: 29px 0 4px 0;
}
.direct__cols ul:after {
	content: '';
	display: table;
	clear: both;
}
.direct__cols ul li {
	display: block;
	float: left;
	width: 50%;
	margin: 0 0 16px 0;
}
.direct__cols .map-icon {
	width: 45px;
	height: 55px;
	overflow: hidden;
}
.direct__cols .map-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.direct__cols .map-icon img {
	width: 100%;
}
.direct__cols .icon-title {
    width: 60%;	
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
    font-family: ProximaNova-SemiBold, sans-serif;
}
.direct__more {
	text-align: right;
}
.direct__more a {
	position: relative;
	font-family: ProximaNova-Bold;
	font-size: 14px;
}
.direct__more a:hover {
	color: #ef5a1f;
}
.direct__more a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -1px;
	left: 0;
	background: #ef5a1f;
	visibility: hidden;
	border-radius: 5px;
	transform: scaleX(0);
	transition: .25s linear;
	z-index: 2;
}
.direct__more a:hover:before,
.direct__more a:focus:before {
	visibility: visible;
	transform: scaleX(1);
}




#about {
	min-height: 580px;
	padding: 75px 0 64px 0;
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}
#about .about-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 1;
}
#about .about__con {
	display: block;
	position: relative;
	width: 50%;
	margin-left: 50%;
	padding: 0 1.3%;
	z-index: 2;
	text-align: center;
}
.about__con-preview {
	margin: 3.75rem 0 6rem 0;
	font-family: ProximaNova-Light;
	font-size: 1.06rem;
	color: #000;
	line-height: 1.7;
}


#serv {
	position: relative;
	height: 600px;
	padding: 8% 0;
}
.serv__con {
	position: relative;
	z-index: 2;
	text-align: center;
}
.serv-cols {
	width: 75%;
	margin: 7.8% auto 0 auto;
}
.serv-cols:after {
	content: '';
	display: table;
	clear: both;
}
.sc__col {
	position: relative;
	display: block;
	float: left;
	width: 22%;
}
.sc__col + .sc__col {
	margin-left: 17%;
}
.sccol-imgwrapper {
	position: relative;
	width: 100%;
}
.sc__col + .sc__col .sccol-imgwrapper:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 80%;
	height: 0;
	border-bottom: 2px dashed #000;
}
.sc__col + .sc__col .sccol-imgwrapper:before {
	left: -80%;
}
.sc__col-img {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #ef5a1f;
}
.sc__col-img img {
	max-width: 100%;
	vertical-align: middle;
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.sc__title {
	margin-top: 1.375rem;
	font-family: ProximaNova-SemiBold;
	font-size: 1.125rem;
	text-transform: uppercase;
}
.sc__title h4 {
	line-height: 1.7;
	font-size: 1.125rem;
}



#fb {
	padding: 70px 0;
	background-color: #fff;
}
#fb .fb-form {
	text-align: center;
	width: 290px;
	margin: 0 auto;
}
#fb .fbf__title {
	margin-bottom: 55px;
}
.input-gr {
	width: inherit;
}
.fb-form .input-gr {
	margin-bottom: 20px;
}
.fb-form .f-field {
	width: 100%;
	height: 41px;
	padding: 5px 15px;
	border: 1px solid #000;
}
.fb-form textarea.f-field {
	padding: 10px 15px;
	width: 100%;
	height: 102px;
}
.fb-form button[type=submit] {
	width: 100%;
}

.fb-form .f-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#000; text-transform: uppercase; font-family: ProximaNova-SemiBold, sans-serif;
}
.fb-form .f-field::-moz-placeholder {	/* Firefox 19+ */
	color:#000; text-transform: uppercase; font-family: ProximaNova-SemiBold, sans-serif;
}
.fb-form .f-field:-ms-input-placeholder {	/* IE 10+ */
	color:#000; text-transform: uppercase; font-family: ProximaNova-SemiBold, sans-serif;
}
.fb-form .f-field:-moz-placeholder {	/* Firefox 18- */
	color:#000; text-transform: uppercase; font-family: ProximaNova-SemiBold, sans-serif;
}


footer {
	background-color: #000;
	font-family: ProximaNova-Light;
	font-size: 14px;
	color: #fff;
	padding: 24px 4px;
}
footer .ccpy,
footer .cdev {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	margin: 0 -4px;
}
footer .ccpy p {
	line-height: 1.7;
}
footer .ccpy a:hover {
	color: #ef5a1f;
}
footer .cdev {
	text-align: right;
}
footer .cdev a {
	position: relative;
	padding-bottom: 1px;
	border-bottom: 1px dotted #ef5a1f;
}
footer .cdev a:hover {
	color: #ef5a1f;
	transition: all 0.3s ease;
}
footer .cdev a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -1px;
	left: 0;
	background: #ef5a1f;
	visibility: hidden;
	border-radius: 5px;
	transform: scaleX(0);
	transition: .25s linear;
	z-index: 2;
}
footer .cdev a:hover:before,
footer .cdev a:focus:before {
	visibility: visible;
	transform: scaleX(1);
}



#sign {
	min-height: 600px;
	/*padding: 70px 0;*/
	background-color: #fcfcfc;
	padding: 37px 0 20px 0;
	min-height: calc(100vh - 158px);
}
.sign-form {
	width: 600px;
	margin: 0 auto;
}
.sf__title {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}
.sf__external {
	padding: 0;
}
.sf__external ul {
	list-style: none;
	padding: 0 4px 0 0;
}
.sf__external ul li {
	display: inline-block;
	vertical-align: middle;
	width: 47%;
	margin: 0 0 20px 0;
}
.sf__external ul li:nth-child(2n) {
    margin-left: 6%;
    margin-right: -5px;
}
.sf__external ul li a {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding: 7px 15px;
	font-family: ProximaNova-Regular;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
}
.sf__external ul li a span {
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}
.sf__external ul li a i {
	display: inline-block;
	vertical-align: middle;
	margin: -5px 15px 0 0;
	font-size: 20px;
}
.sf__external .soc__facebook {
	background-color: #3960a0;
}
.sf__external .soc__vk {
	background-color: #155e8b;
}
.sf__external .soc__twitter {
	background-color: #17b0e2;
}
.sf__external .soc__gplus {
	background-color: #e33112;
}
.sf__separetor {
    height: 1px;
    background: #e5e5e5;
    margin: 48px 0 47px 0;
    position: relative;
    text-align: center;
}
.sf__separetor span {
    display: inline-block;
    padding: 5px 10px 6px 10px;
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 2;
    top: 0;
    background-color: #fcfcfc;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.sign-form .sf__row {
	position: relative;
	display: block;
	width: 100%;
}
.sign-form .sf__row + .sf__row {
	margin-top: 20px;
}
.sign-form .sf-input-gr {
	position: relative;
}
.sign-form form {
	text-align: center;
}
.sign-form .sf-field {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 10px 30px 10px 15px;
    font-family: ProximaNova-SemiBold;
    font-size: 18px;
    color: #393939;
    outline: none;
}
.sign-form .sf-field:focus {
	border-color: #ff9756;
}
.field-incorrect {
	border-color: #f44242 !important;
}

/* login state notify */
.sign-form .login-notify {
	display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 42px;
    color: #f44242;
}
.sign-form .login-notify i {
	font-size: 32px;
	margin: 0;
	line-height: 1;
}
.ln__con {
	position: relative;
	display: block;
	width: 100%;
	padding: 5px 0;
}
.ln-popup {
	position: absolute;
	top: 50%;
	left: 60px;
	transform: translateY(-50%);
	display: block;
	width: 200px;
	background: #dedede;
	border-radius: 4px;
	font-family: ProximaNova-Regular;
	font-size: 16px;
}
.ln__popup-con {
	position: relative;
	display: block;
	width: 100%;
	padding: 8px 10px;
}
.ln__popup-con:before {
	content: '';
	position: absolute;
	z-index: 5;
	display: block;
	right: 10%;
    width: 0;
    height: 0;
	border: 11px solid transparent;
}
.ln__popup-con.pp-left:before {
	top: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-90%);
	margin: auto 0;
	border-right-color: #dedede;
}
.ln__popup-con.pp-right:before {
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(90%);
	margin: auto 0;
	border-left-color: #dedede;
}
.ln__popup-con.pp-bottom-center:before {
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(90%);
	border-top-color: #dedede;
}
.ln__popup-con.pp-bottom-left:before {
	bottom: 0;
	left: 20px;
	transform: translateY(90%);
	border-top-color: #dedede;
}
.ln__popup-con.pp-bottom-right:before {
	bottom: 0;
	right: 20px;
	transform: translateY(90%);
	border-top-color: #dedede;
}
.ln__popup-con.pp-top-center:before {
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	transform: translateY(-90%);
	border-bottom-color: #dedede;
}
.ln__popup-con.pp-top-left:before {
	top: 0;
	left: 20px;
	transform: translateY(-90%);
	border-bottom-color: #dedede;
}
.ln__popup-con.pp-top-right:before {
	top: 0;
	right: 20px;
	transform: translateY(-90%);
	border-bottom-color: #dedede;
}




.sign-form .sf-input-gr .ui.selection.dropdown {
	font-family: ProximaNova-SemiBold !important;
	border-radius: 0;
	width: 100%;
	min-width: initial;
}
.sign-form .sf-date {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}
.sf__day-con,
.sf__day-year {
	width: 31%;
}
.sf__day-month {
	width: 35%;
}
.sign-form .sf__forgot {
    padding: 10px 0;
    text-align: left;
}
.sign-form form button[type=submit] {
	margin-top: 10px;
}

.sign-form .sf-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#d5d5d5; font-family: ProximaNova-SemiBold, sans-serif;
}
.sign-form .sf-field::-moz-placeholder {	/* Firefox 19+ */
	color:#d5d5d5; font-family: ProximaNova-SemiBold, sans-serif;
}
.sign-form .sf-field:-ms-input-placeholder {	/* IE 10+ */
	color:#d5d5d5; font-family: ProximaNova-SemiBold, sans-serif;
}
.sign-form .sf-field:-moz-placeholder {	/* Firefox 18- */
	color:#d5d5d5; font-family: ProximaNova-SemiBold, sans-serif;
}


.sign-form.up .sf__row {
	position: relative;
	display: block;
	width: 100%
}
.sign-form.up .sf__row:after {
	content: '';
	display: table;
	clear: both;
}
.sign-form.up .sf__row + .sf__row {
	margin-top: 20px;
}
.sign-form.up .sf-input-gr {
	display: block;
	float: left;
	width: 47%;
}
.sign-form.up .sf-input-gr + .sf-input-gr {
	margin-left: 6%;
}
.err-msg {
    display: block;
    width: 100%;
    font-family: ProximaNova-RegularItalic;
    font-size: 15px;
    color: #ff0000;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: left;
}

.sign-form.up form button[type=submit] {
	margin-top: 30px;
}

.sign-form .sf__signup {
	text-align: center;
    margin-top: 15px;
}


/* contact us */
#main .about {
	display: block;
	width: 100%;
	background-color: #fff;
}

.about .about-us {
	position: relative;
	display: block;
	width: 100%;
}
.about .about-us .aboutus-txt {
	display: block;
	width: 100%;
	padding: 10px 0 30px 0;
}
.about .about-us .aboutus-txt .title {
	display: block;
	width: 100%;
	padding: 40px 20px;
	font-family: Lemon-Milk;
	font-size: 48px;
	text-align: center;
}
.about .about-us .aboutus-txt .content {
	display: block;
	width: 100%;
	font-family: ProximaNova-Light;
	font-size: 20px;
	color: #000;
	text-align: center;
}
.about .about-us .aboutus-pic {
	position: relative;
	display: block;
	width: 100%;
}
.about .about-us .aboutus-pic .pic {
	display: block;
	width: 100%;
	height: 640px;
	background-image: url("../images/hero.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.about .about-us .aboutus-pic .border-bottom {
	display: block;
	width: 100%;
	margin-top: -67px;
	/*border-bottom: 1px solid #e5e5e5;*/
}

.about .about-loc {
	display: block;
	width: 100%;
	background-color: rgba(248,248,248, 0.8);
	padding: 30px 0;
}
.about .about-loc .aboutloc-hd {
	display: block;
	width: 100%;
	padding: 20px 20px 40px 20px;
	font-family: Lemon-Milk;
	font-size: 48px;
	line-height: 1;
	text-align: center;
}
.about .about-loc .row {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
}
.about .about-loc .row .locitem {
	display: flex;
	flex-basis: 30%;
	width: 30%;
	margin: 0 20px;
	background-color: #fff;
	color: #000;
	transition: box-shadow 0.25s ease;
}
.about .about-loc .row .locitem:hover {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(133,145,146,0.5);
	-moz-box-shadow: 0px 5px 15px 0px rgba(133,145,146,0.5);
	box-shadow: 0px 5px 15px 0px rgba(133,145,146,0.5);
	transition: box-shadow 0.25s ease;
}
.locitem .locitem-txt {
	padding: 24px;
}
.locitem .locitem-txt .title {
	font-family: ProximaNova-SemiBold;
	font-size: 24px;
	margin: 5px 0 10px 0;
}
.locitem .locitem-txt .txt {
	margin: 16px 0;
}
.locitem .locitem-pic {
	display: block;
	width: 100%;
	height: 240px;
	overflow: hidden;
}
.locitem .locitem-pic img {
	width: 100%;
}

.about .about-contact {
	position: relative;
	display: block;
	width: 100%;
}
.about .about-top {
	display: block;
	width: 100%;
	padding: 45px 0;
}
.about .about-top:after {
	content: '';
	display: table;
	clear: both;
}
.about .about-top .at-title {
	display: inline-block;
	vertical-align: middle;
	width: 22.3%;
	padding: 20px 20px 20px 0;
	font-family: Lemon-Milk;
	font-size: 30px;
	color: #000;
	line-height: 1;
	border-right: 7px solid #ef5a1f;
}
.about .about-top .at-val {
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	padding: 13px 30px;
	font-family: ProximaNova-Light;
	font-size: 17px;
	color: #000;
}

.about .aboutform-sec {
	position: relative;
	display: block;
	width: 100%;
	height: 580px;
	background-image: url("../images/about-us.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.about .aboutform-sec .wrapper {
	position: relative;
	height: 100%;
}
.about .aboutform-sec .about-form {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto 0;
	display: block;
	width: 440px;
	height: 510px;
	background-color: #fff;
}
.about .aboutform-sec .about-form .aform-wrapper {
	display: block;
	width: 100%;
	height: 100%;
	padding: 40px 50px;
}
.about .aboutform-sec .about-form .field {
	display: block;
	width: 100%;
	font-family: ProximaNova-SemiBold;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
}
.about .aboutform-sec .about-form .field + .field {
	margin-top: 20px;
}
.about .aboutform-sec .about-form .field input,
.about .aboutform-sec .about-form .field textarea {
	display: block;
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #000;

}
.about .aboutform-sec .about-form .field input::-webkit-input-placeholder,
.about .aboutform-sec .about-form .field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.about .aboutform-sec .about-form .field input::-moz-placeholder,
.about .aboutform-sec .about-form .field textarea::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.about .aboutform-sec .about-form .field input:-ms-input-placeholder,
.about .aboutform-sec .about-form .field textarea:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.about .aboutform-sec .about-form .field input:-moz-placeholder,
.about .aboutform-sec .about-form .field textarea:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.about .aboutform-sec .about-form button[type=submit] {
	width: 100%;
}