#map-sect {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 174px);
}
#map-container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
}



.searchtrain-tcon {
    display: block;
    position: absolute;
    top: 40px;
    left: 40px;
    color: #fff;
}
.searchtrain-tcon .ui.orange.button {
    padding: 9px 30px;
}
#searchtrain-trigger {
    font-size: 22px;
}
#searchtrain-trigger i {
    padding: 0;
    margin: 0;
    line-height: 1;
}




.addloc-tcon {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
}
.addloc-tcon .ui.orange.button {
    padding: 12px 40px;
}

.addlocation {
    display: none;
    width: 480px;
    height: 600px;
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    overflow: hidden;
}
.addlocation .wrapper {
    position: relative;
    display: block;
    width: 100%;
    /*padding: 25px 20px;*/
    border-left: 5px solid #ef5a1f;
    background-color: #f9f9f9;

    height: 100%;
}
.addlocation .wclose {
    display: block;
    position: absolute;
    z-index: 50;
    top: 10px;
    right: 15px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.addlocation .wclose span {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #c3c3c3;
    border-radius: 50%;
    color: #c3c3c3;
    position: relative;
}
.addlocation .wclose span:hover {
    color: #686C70;
    border-color: #686C70;
}
.addlocation .wclose i {
    padding: 0;
    line-height: 1;
    width: auto;
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.addlocation .wnotify {
    display: none;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #859192;
    line-height: 1;
}
.addlocation .btn-area {
    position: absolute;
    bottom: 40px;
    left: 20px;
    right: 20px;
    z-index: 5;
    display: block;
    width: 90%;
    margin: 10px 0 20px 0;
    height: 40px;
}
.addlocation .btn-area .ba-con {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.addlocation .btn-area button {
    outline: none;
}
.addlocation .btn-area .btn-con {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto 0;
}
.addlocation .btn-area .btn-con.active {
    display: block;
}
.addlocation .btn-area .btn-prevcon {
    top: 0;
    left: 0;
    bottom: 0;
}
.addlocation .btn-area .btn-nextcon {
    top: 0;
    right: 0;
    bottom: 0;
}
.addlocation .btn-area button.disabled {
    cursor: default;
    opacity: 0.65!important;
    background-image: none!important;
    pointer-events: none!important;
}

.addlocation .btn-circle {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #ef5a1f;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 20px;
}
.addlocation .btn-circle:hover {
    background-color: #ef5a1f;
    color: #fff;
}
.addlocation .btn-circle:active {
    background-color: #EF701F;
    color: #fff;
}
.addlocation .btn-circle i {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}
.addlocation .btn-prev i {
    margin-right: 3px;
}
.addlocation .btn-next i {
    margin-left: 3px;
}
.addlocation .btn-area .btn-submit {
    display: none;
    text-align: right;
}
.addlocation .btn-area .btn-submit.active {
    display: block;
}
.addlocation .btn-area .btn-submit #adloc-btn {
    padding: 12px 25px;
}

/* stage */
.addlocation .stage {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px 20px 115px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #f9f9f9;
    z-index: 1;
    transition: all 0.8s ease;
}
.addlocation .stage.mv-in {
    left: 0;
}
.addlocation .stage.mv-out {
    left: 100%;
}
.addlocation .stage.active {
    z-index: 2;
    transition: all 0.8s ease;
}
.addlocation .stage .stage-hd {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.addlocation .stage .stage-hd h3 {
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
}

.addlocation .stage-container .input-gr {
    display: block;
    width: 100%;
}
.addlocation .stage-container .input-gr + .input-gr {
    margin-top: 10px;
}
.stage-container .input-gr label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #000;
}
.input-gr .ingr {
    display: block;
    width: 100%;
    /*padding: 8px 10px;*/
    padding: .73171429em 1em .73271429em 1em;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #000;
    background-color: #f9f9f9;
    border: 1px solid #c3c3c3;
}
.input-gr .ingr:focus {
    background-color: #fff;
}
.input-gr .ingr.ingr-tarea {
    resize: none;
}
.input-gr .ui.selection.dropdown {
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #c3c3c3;
    border-radius: 0;
}
.input-gr .ui.selection.dropdown.bgcolor-fff {
    background-color: #fff;
}
.input-gr .ui.selection.dropdown .menu {
    border-radius: 0;
}
.stage .selectgeoloc {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.selectgeoloc .infographic {
    position: relative;
    display: block;
    width: 100%;
    color: #222;
}
.infographic #getmarker-btn {
    cursor: pointer;
    outline: none;
    display: block;
    max-width: 162px;
    padding: 10px 20px;
    position: absolute;
    top: -10px;
    right: 0;
    background-color: #ef5a1f;
    border: none;
    font-family: ProximaNova-SemiBold;
    font-size: 16px;
    color: #fff;
}
.infographic #getmarker-btn:hover {
    background-color: #fb5c1f;
}
.infographic #getmarker-btn span {
    display: inline-block;
    vertical-align: middle;
}
.infographic #getmarker-btn img {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.selectgeoloc .infographic .infographic-title {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-right: 160px;
    font-family: ProximaNova-SemiBold;
    font-size: 18px;
    line-height: 1.2;
}
.selectgeoloc .infographic .infographic-content {
    display: block;
    width: 100%;
}
.selectgeoloc .infographic-content .ig-step {
    display: block;
    width: 100%;
}
.infographic-content .ig-step.align-right {
    text-align: right;
}
.selectgeoloc .infographic-content .ig-step + .ig-step {
    margin-top: -65px;
}
.infographic-content .ig-step .igstep-title {
    display: block;
    width: 100%;
    font-family: ProximaNova-SemiBold;
    font-size: 16px;
    margin-bottom: 5px;
}
.infographic-content .ig-step .igstep-info {
    display: block;
    width: 100%;
    font-family: ProximaNova-Regular;
    font-size: 16px;
}
.infographic-content .ig-step .igstep-info img {
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
.infographic-content .ig-step.align-right .igstep-info img {
    margin-left: 10px;
    margin-right: 0;
}

.stage .drag-marker {
    margin: 25px 0 15px 0;
    display: block;
    width: 100%;
}
.drag-marker .dm-title {
    display: inline-block;
    width: 80%;
    font-family: ProximaNova-Semibold;
    font-size: 18px;
}
.drag-marker .marker-area {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px 0 0;
}
.drag-marker .marker {
    display: inline-block;
    cursor: move;
}
.drag-marker .marker img {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}
.drag-marker .marker i {
    padding: 0;
    margin: 0;
    width: auto;
    line-height: 1;
    font-size: 54px;
    color: #ef5a1f;
}
.drag-marker .marker:hover {
}
.stage .stage-container {
    display: block;
    width: 100%;
    height: 410px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.stage .dphoto-preview {
    position: relative;
    display: block;
    margin: -6px;
}
.stage .dphoto-preview:after {
    content: '';
    display: table;
    clear: both;
}
.stage .dphoto-preview input[type=file] {
    display: none;
}
.dphoto-preview .dphoto__preview-item {
    position: relative;
    display: block;
    float: left;
    width: 130px;
    height: 130px;
    border: 2px dashed #c3c3c3;
    overflow: hidden;
}
.dphoto-preview .dphoto__preview-item:hover {
    border-color: #858A90;
}
.dphoto-preview .dphoto__preview-item {
    margin: 6px;
}
.dphoto-preview .dphoto__preview-item.img {
    border: 1px solid #c1c1c1;
}
.dphoto-preview .dphoto__preview-item.img img {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}
.dphoto-preview .dphoto__preview-item .dppitem-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(38,38,38,0.5);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.25s ease;
}
.dphoto-preview .dphoto__preview-item:hover .dppitem-overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity 0.25s ease;
}
.dphoto__preview-item .rm-photo {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 5px;
    display: inline-block;
    font-size: 22px;
    color: #e5e5e5;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.25s ease;
}
.dphoto-preview .dphoto__preview-item:hover .rm-photo {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: opacity 0.25s ease;
}
.dphoto-preview .dphoto__preview-item .rm-photo:hover {
    color: #fff;
}
.dphoto__preview-item label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 34px;
    position: relative;
    color: #c3c3c3;
}
.dphoto__preview-item label i {
    line-height: 1;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
}
.dphoto-preview .dphoto__preview-item:hover label {
    color: #858A90;
}

.stage .stage-container .tlist-con {
    display: block;
    width: 100%;
    height: 90%;
    padding: 10px;
    border: 1px solid #c3c3c3;
}
.stage .stage-container .training-catlist {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.training-catlist .form-gr {
    position: relative;
    display: block;
    width: 100%;
    margin: 5px 0;
}
.training-catlist .form-gr label {
    margin-left: 10px;
    cursor: pointer;
}
.training-catlist .form-gr input[type=checkbox] {
    opacity: 0;
    filter: alpha(opacity=0);
}
.training-catlist .form-gr input[type=checkbox]:checked + label span.span-inner i {
    display: inline-block;
}
.training-catlist .form-gr input[type=checkbox]:checked + label span.square {
    border: none;
}
.training-catlist .form-gr label span.chb {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 20px;
    color: #ef5a1f;
}
.training-catlist .form-gr label .span-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.training-catlist .form-gr label span.square {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}
.training-catlist .form-gr label span i {
    display: none;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -2px;
    left: -1px;
    z-index: 2;
}
.training-catlist .form-gr label .item-icon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 30px;
    margin: 0 5px 0 3px;
    overflow: hidden;
}
.training-catlist .form-gr label .item-icon img {
    width: 100%;
    height: 100%;
}









/* search */
#searchtrain-con {
    display: block;
    width: 400px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #f9f9f9;
    border-right: 5px solid #ef5a1f;
    transform: translateX(-98.75%);
    /*margin-left: 5px;*/
    transition: transform 0.5s ease-in-out;
}
#searchtrain-con.active {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
#searchtrain-con .st-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
#searchtrain-con .st-inner .st-trigger {
    display: block;
    width: 40px;
    height: 50px;
    padding: 8px 3px;
    position: absolute;
    top: 0;
    right: -40px;
    color: #fff;
    background-color: #ef5a1f;
    cursor: pointer;
}
#searchtrain-con .st-inner .st-trigger img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#searchtrain-con .st-inner .st-trigger img.goback {
    transform: rotateY(180deg);
}
.st-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px 15px;
}
.st-wrapper .title {
    display: block;
    width: 100%;
    font-family: ProximaNova-Semibold;
    font-size: 20px;
    color: #222;
    margin-bottom: 20px;
}
.chcontrol-btns {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(48,48,48,.4);
    -moz-box-shadow: 0 1px 10px 0 rgba(48,48,48,.4);
    box-shadow: 0 1px 10px 0 rgba(48,48,48,.4);
}
.chcontrol-btns .ccl-btn {
    display: block;
    width: 100%;
    height: 64px;
}
.chcontrol-btns .ccl-btn button {
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 15px 8px;
    border: none;
    background-color: #ef5a1f;
}
.chcontrol-btns .ccl-btn button.active,
.chcontrol-btns .ccl-btn button:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.chcontrol-btns .ccl-btn button img {
    width: 100%;
    height: 100%;
}

.chlocation-value {
    display: inline-block;
    vertical-align: top;
    width: 290px;
    margin-left: 5px;
}
.chlocation-value .chlvalue-tab {
    display: none;
    width: 100%;
    position: relative;
}
.chlocation-value .chlvalue-tab.active {
    display: block;
}

.chlocation-value .vgr + .vgr {
    display: block;
    margin-top: 10px;
}
.chlocation-value .vgr .ui.selection.dropdown {
    width: 100%;
    border-radius: 0;
    background-color: #e5e5e5;
    border: 1px solid #859192;
    color: #222;
    min-height: 1.2em;
    padding: .56171429em 2.1em .56371429em 1em;
}
.chlocation-value .vgr .ui.selection.dropdown .text.default {
    color: #859192;
}
.chlocation-value .vgr .ui.selection.dropdown .text {
    color: #222;
}
.vgr .ui.selection.dropdown .dropdown.icon {
    padding: .63666667em .91666667em;
}


.chlocation-value .vgr .vgr-value {
    border: 1px solid #859192;
    width: 100%;
    height: 36px;
    padding: 6px 1em;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #222;
    background-color: #e5e5e5;
}
.chlocation-value .vgr .vgr-value:focus {
    background-color: #fff;
    color: #000;
}


.training-block {
    display: block;
    /*width: 100%;*/
    width: 355px;
    margin-top: 30px;
}
.training-block .inner .ingr + .ingr {
    margin-top: 15px;
}
.ingr .note {
    font-family: OpenSans-Italic;
    font-size: 12px;
    font-weight: 600;
    color: #000;
}
.ingr .ingr-inner label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #000;
}
.ingr .ingr-inner input[type=text] {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #222;
    background-color: #e5e5e5;
    border: 1px solid #859192;
}
.ingr .ingr-inner input[type=text]:focus {
    background-color: #fff;
}
.typeoftrain {
    margin-top: 20px;
}
.typeoftrain .tot-title {
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}
.typeoftrain .tot-inner {
    height: 240px;
    border: 1px solid #859192;
    padding: 10px;
}

.typeoftrain .tot-inner .training-catlist {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.st-wrapper .searchbtn-con {
    display: block;
    width: 100%;
    margin: 15px 0;
    text-align: center;
}



/* infoWindow */
#iw-con {
    position: relative;
    display: block;
    width: 600px;
    background-color: #fff;
}
.iwcon-wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 20px;
    min-height: 160px;
}
.iwcon-wrapper.static {
    height: 240px;
    overflow: hidden;
}
.iwcon-wrapper .loader-overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
}
#iw-con .iw-title {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: ProximaNova-Semibold;
    font-size: 18px;
    color: #000;
    line-height: 1;
}
#iw-con .iw-title .iwtitle-icon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}
#iw-con .iw-title img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-height: 50px;
}
#iw-con .iw-content {
    position: relative;
    display: block;
    width: 100%;
}
#iw-con .iw-content:before {
    content: '';
    display: table;
}
#iw-con .iw-content:after {
    content: '';
    display: table;
    clear: both;
}
#iw-con .iw-imgblock {
    position: relative;
    display: block;
    width: 55%;
    float: left;
    padding-right: 15px;
}
#iw-con .iw-imgblock.img {
    height: 320px;
    overflow: hidden;
}
#iw-con .iw-imgblock > img {
    width: 100%;
}
#iw-con .iw-imgblock .img-present {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #f9f9f9;
}
#iw-con .iw-imgblock .img-present img {
    min-width: 100%;
    height: 100%;
}
#iw-con .iw-imgblock .img-chainpreview {
    display: block;
    width: 100%;
    overflow: hidden;
}
.iw-imgblock .img-chainpreview .img-preview {
    display: block;
    width: 32%;
    height: 80px;
    float: left;
    overflow: hidden;
    border: 1px solid #f9f9f9;
}
.iw-imgblock .img-chainpreview .img-preview:hover,
.iw-imgblock .img-chainpreview .img-preview.active {
    border: 1px solid #ef5a1f;
}
.iw-imgblock .img-chainpreview .img-preview + .img-preview {
    margin-left: 2%;
}
.iw-imgblock .img-chainpreview .img-preview img {
    min-width: 100%;
    height: 100%;
}

#iw-con .iw-descblock {
    position: relative;
    display: block;
    width: 45%;
    float: left;
}
.iw-descblock .iwdesc-item {
    display: block;
    width: 100%;
}
.iw-descblock .iwdesc-item + .iwdesc-item {
    margin-top: 20px;
}
.raiting .ritem {
    font-size: 22px;
    color: #c1c1c1;
    line-height: 1;
}
.raiting .ritem.voted {
    color: #ef5a1f;
}
.raiting .ritem i {
    padding: 0;
    margin: 0;
    line-height: 0;
    height: auto;
    width: auto;
}

.iwdesc-item .iwdesc__item-title {
    display: block;
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    color: #000;
}
.iwdesc-item .iwdesc__item-txt {
    display: block;
    font-family: ProximaNova-Light;
    font-size: 15px;
    color: #000;
}

.iwdesc-item .listed-info {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.iwdesc-item .listed-info li {
    display: block;
    width: 100%;
    font-family: ProximaNova-SemiBold;
    font-size: 16px;
    color: #000;
}
.iwdesc-item .listed-info li + li {
    margin-top: 10px;
}
.iwdesc-item .listed-info li a {
    color: #000;
}
.iwdesc-item .listed-info li .linfo-icon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
}
.iwdesc-item .listed-info li img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.iwdesc-item .iwdesc__item-txt .training-note .tcount {
    font-family: ProximaNova-CondSemiboldItalic;
    font-size: 24px;
    color: #ef5a1f;
    text-decoration: underline;
    display: inline-block;
    vertical-align: middle;
}
.iwdesc-item .iwdesc__item-txt .training-note img {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}


/* trainings list */
#training-listmodal.ui.modal > .content {
    position: relative;
    padding: 0.5rem 1.5em;
}
.traininglist-con {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
    background-color: #fff;
}

.traininglist-con .trlistcon-wrapper {
    display: block;
    width: 100%;
    /*padding: 15px 20px;*/
}
.traininglist-con .training-list {
    display: block;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}
.training-list .tlist-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}
.training-list .tlist-item:hover {
    background-color: #f3f3f3;
}
.tlist-item .tlitemtitle-con {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c1c1c1;
}
.tlist-item .tlitemtitle-con .raiting .ritem {
    font-size: 18px;
}
.tlist-item .tlitem-title {
    display: block;
    width: 100%;
    padding-right: 100px;
    font-family: ProximaNova-SemiBold;
    font-size: 18px;
    color: #222;
}
.tlitem-title .tlitem__title-icon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
}
.tlitem-title .tlitem__title-icon img {
    display: inline-block;
    width: 100%;
}
.tlist-item .raiting {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2px;
}

.tlist-item .tlitem-content {
    position: relative;
    display: block;
    width: 100%;
}
.tlist-item .tlitem-content:before {
    content: '';
    display: table;
}
.tlist-item .tlitem-content:after {
    content: '';
    display: table;
    clear: both;
}
.tlist-item .tlitem__preview-img {
    display: block;
    width: 40%;
    height: 140px;
    overflow: hidden;
    padding-left: 10px;
    float: left;
}
.tlist-item .tlitem__preview-img img {
    display: inline-block;
    width: 100%;
    min-height: 100%;
}
.tlist-item .tlitem-txt {
    display: block;
    width: 60%;
    float: left;
}

.tlist-item .tlitem-name {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}
.tlitem-name .tlitem__name-title {
    font-family: ProximaNova-Regular;
}
.tlitem-name .tlitem__name-value {
    font-family: ProximaNova-SemiBold;
    color: #222;
}
.tlitem-name .tlitem-desc {
    display: block;
    width: 100%;
    font-size: 16px;
}
.tlitem-desc .tlitem__desc-title {
    font-family: ProximaNova-SemiBold;
    color: #222;
    margin-bottom: 5px;
}
.tlitem-desc .tlitem__desc-txt {
    font-family: ProximaNova-Regular;
    line-height: 1.2;
}


/* trainings detail */
.trainingdetail-con {
    display: none;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
.trainingdetail-con.active {
    display: block;
    z-index: 6;
}
.trainingdetail-preloader {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    background-color: #fff;
}
.trainingdetail-preloader.active {
    display: block;
}
.trainingdetail-preloader .tdpreloader-wrapper {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.trainingdetail-preloader .tdpreloader,
.trainingdetail-preloader .tdpreloader-inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(rgba(239, 90, 31, 1) -50%,rgba(239, 90, 31, 0) 60%);
    animation: roll-r 6s linear infinite;
}
.tdpreloader > .tdpreloader-inner {
    padding:5px;
    animation:roll-l 2s linear infinite;
}
.tdpreloader > .tdpreloader-inner:after {
    content: "";
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
}
@keyframes roll-r {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}
@keyframes roll-l {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(-360deg);}
}


.trainingdetail-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.trainingdetail-wrapper .tdetail__title-con {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
}
.trainingdetail-wrapper .tdetail-title {
    display: block;
    width: 100%;
    padding-right: 100px;
    font-family: ProximaNova-SemiBold;
    font-size: 20px;
    color: #ef5a1f;
    line-height: 1;
    text-transform: uppercase;
}
.tdetail__title-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.tdetail__title-icon img {
    display: inline-block;
    width: 100%;
}
.tdetail__title-con .raiting {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2px;
}

.tdetail-content .tdetail-name {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.tdetail-content .tdetail-name .title {
    margin-bottom: 0;
}
.tdetail__name-value {
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #222;
}

.tdetail-imgblock {
    position: relative;
    display: block;
    width: 100%;
}
.tdetail-imgblock.img {
    height: 320px;
    overflow: hidden;
}
.tdetail-imgblock.img > img {
    width: 100%;
    min-height: 100%;
}
.tdetail-imgblock .img-present {
    display: block;
    width: 100%;
    height: 300px;
    margin-bottom: 8px;
    overflow: hidden;
    border: 1px solid #f9f9f9;
}
.tdetail-imgblock .img-present img {
    width: 100%;
    min-height: 100%;
}
.tdetail-imgblock .img-chainpreview {
    display: block;
    width: 100%;
    overflow: hidden;
}
.tdetail-imgblock .img-chainpreview .img-preview {
    display: block;
    width: 19%;
    height: 80px;
    float: left;
    overflow: hidden;
    border: 1px solid #f9f9f9;
}
.tdetail-imgblock .img-chainpreview .img-preview:hover,
.tdetail-imgblock .img-chainpreview .img-preview.active {
    border: 1px solid #ef5a1f;
}
.tdetail-imgblock .img-chainpreview .img-preview + .img-preview {
    margin-left: 1.25%;
}
.tdetail-imgblock .img-chainpreview .img-preview img {
    width: 100%;
    min-height: 100%;
}

.tdetail-content .tdetail-desc {
    margin-top: 20px;
}
.tdetail-desc .tdetail__desc-txt {
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #222;
    line-height: 1.2;
}

.tdetail-content .tdetail-trainer {
    display: block;
    width: 100%;
    margin-top: 20px;
}
.tdtrainer-content:before {
    content: '';
    display: table;
}
.tdtrainer-content:after {
    content: '';
    display: table;
    clear: both;
}
.tdetail-trainer .tdtrainer-imgcon {
    position: relative;
    display: block;
    width: 35%;
    float: left;
    border-right: 1px solid #c1c1c1;
}
.tdetail-trainer .tdtrainer-img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.tdetail-trainer .tdtrainer-img img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.tdetail-trainer .tdtrainer-name {
    display: block;
    margin-top: 15px;
    font-family: ProximaNova-SemiBold;
    font-size: 16px;
    color: #222;
    text-align: center;
}
.tdetail-trainer .tdtrainer-info {
    display: block;
    width: 65%;
    padding: 5px 10px;
    font-size: 16px;
    color: #222;
    float: left;
}
.tdtrainer-info .tdtinfo-item {
    display: block;
    width: 100%;
    font-family: ProximaNova-Regular;
}
.tdtinfo-item .tdtinfo__item-title {
    font-family: ProximaNova-SemiBold;
    margin-right: 5px;
}
.tdtrainer-info .tdtinfo-item + .tdtinfo-item {
    margin-top: 5px;
}
.tdtrainer-info .tdtinfo-item a {
    color: #222;
}



.tdetail-content .tdetail-address {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.tdetail-content .title {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-family: ProximaNova-SemiBold;
    font-size: 20px;
    color: #222;
}
.tdetail-content .tdetail-block + .tdetail-block {
    margin-top: 20px;
}
.tdetail-address-txt {
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #222;
}
.tdetail__time-con,
.tdetail__price-con {
    padding-top: 5px;
}
.tdetail-block .ui.table {
    border-radius: 0;
}




.trainingdetail-wrapper .tdaction-btns {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: right;
}
.tdaction-btns button {
    display: inline-block;
    vertical-align: middle;
}
.tdaction-btns button + button {
    margin-left: 10px;
}


#floc-errmsg,
#locfind-errmsg {
    font-family: ProximaNova-RegularItalic;
    font-size: 15px;
    color: #ff0000;
    padding: 5px 0;
}



#searchtrain-con .training-block .ingr-inner {
    position: relative;
    display: block;
    width: 100%;
}
#searchtrain-con .training-block .ingr-inner .rs-block {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    display: none;
    width: 100%;
    max-height: 240px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-top: 0;
    border-bottom: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -5px;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
}
#searchtrain-con .training-block .ingr-inner .rs-block .item {
    display: block;
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    border-top: 1px solid rgba(240,240,240,0.8);
}
#searchtrain-con .training-block .ingr-inner .rs-block .item:hover {
    background-color: #efefef;
}