@media screen and (max-width: 1400px) {
    html, body {
        font-size: 15px;
    }

    #serv {
        height: 42.8vw;
    }
}

@media screen and (max-width: 1199px) {
    html, body {
        font-size: 14px;
    }
    .wrapper {
        width: 100%;
        padding: 0 15px;
    }

    .direct__preview {
        line-height: 1.5rem;
        font-size: 1.1rem;
    }
    .direct__cols .map-icon {
        width: 40px;
        height: 48.89px;
        overflow: hidden;
    }
    .about__con-preview {
        margin: 3rem 0 4.5rem 0;
        font-size: 1.1rem;
    }

    .serv-cols {
        width: 66%;
    }
    .sc__col-img {
        width: 110px;
        height: 110px;
    }
    .sc__col-img img {
        width: 50%;
    }


    #fb {
        padding: 5% 0;
    }
    #fb .fbf__title {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 991px) {
    .hd-fixed #menu {
        width: 65%;
    }
    .hd-fixed .lang-auth {
        width: 35%;
    }
    .about__con-preview {
        margin: 3rem 0 2.5rem 0;
    }

    .direct {
        margin-left: 40%;
    }

    #serv {
        height: 52vw;
    }
    .serv-cols {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    #menutoggle {
        display: none;
    }
    .hd-fixed #menu input {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .hd-fixed .lang-auth {
        width: 75%;
    }
    #ch-lang {
        border: 1px solid #636363;
        margin-right: 5px;
    }
    #ch-lang.ui.selection.dropdown .menu {
        border-color: #636363 !important;
    }
    .hd-fixed #menu {
        width: 25%;
    }
    .hd-fixed #menu ul {
        display: none;
    }
    .hd-fixed #menu input {
        display: block;
        width: 44px;
        height: 32px;
        position: absolute;
        top: 8px;
        left: 2px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2002; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    #menutoggle {
        display: block;
        width: 40px;
        position: relative;
        z-index: 2001;
        -webkit-user-select: none;
        user-select: none;
    }
    #menutoggle span {
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 6px;
        position: relative;
        background: #333;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.65s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.65s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.7s ease;
    }
    #menutoggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menu input:checked ~ #menutoggle span {
        opacity: 1;
        transform: rotate(-45deg) translate(-2px, -1px);
        background: #fff;
    }
    #menu input:checked ~ #menutoggle span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menu input:checked ~ #menutoggle span:nth-last-child(3) {
        transform: rotate(45deg) translate(0, -1px);
    }



    .hd-fixed #menu ul {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 50px 20px;
        background-color: rgba(2,2,2,0.9);
        color: #fff;
        z-index: 2000;
        text-align: center;
        font-family: Lemon-Milk;
        font-size: 2.8rem;
        line-height: 1.2;

        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.65s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu input:checked ~ ul {
        transform: none;
    }
    .hd-fixed #menu ul li {
        display: block;
        width: 100%;
        margin: 40px 0;
    }
    .hd-fixed #menu ul li + li {
        margin-left: 0;
    }

    .hd-fixed #menu ul li a {
        color: #fff;
        position: relative;
    }
    .hd-fixed #menu ul li a:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: #ef5a1f;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }





    h1 {
        font-size: 2.5rem;
    }
    #home .h-bg {
        background-position: 70% 20%;
    }
    .select-gr .ui.selection.dropdown {
        display: block;
        margin: 0 auto;
        width: 320px;
    }
    .select-gr .ui.selection.dropdown + .ui.selection.dropdown {
        margin-top: 20px;
    }

    .direct {
        margin: 0 auto;
    }

    #about {
        min-height: 480px;
    }
    #about .about__con {
        width: 80%;
        margin: 0 auto;
    }
    #about .about-bg {
        background: rgba(255, 255, 255, 0.7);
    }

    #serv {
        min-height: 480px;
        height: auto;
    }
    .serv-cols {
        width: 100%;
    }
    .serv-cols:after {
        content: none;
    }
    .sc__col {
        float: none;
        width: 100%;
    }
    .sc__col + .sc__col {
        margin: 10% 0 0 0;
    }
    .sc__col + .sc__col .sccol-imgwrapper:before {
        content: none;
    }


    #fb {
        padding: 10% 0;
    }


}

@media screen and (max-width: 479px) {
    .hd-fixed #menu ul {
        font-size: 2.2rem;
    }

    .comp-info .slogan h1 {
        line-height: 1.2;
    }
    .select-gr .ui.selection.dropdown {
        display: block;
        margin: 0 auto;
        width: 260px;
    }

    .direct {
        width: 96%;
        padding: 25px 20px;
    }
    .direct__cols ul li {
        float: none;
        width: 100%;
        margin: 0;
    }
    .direct__cols ul li + li {
        margin-top: 15px;
    }

    #about .about__con {
        width: 96%;
        margin: 0 auto;
    }
    #about .about__con h2 {
        font-size: 2.6rem;
        line-height: 1.2;
    }

    .serv__con h3 {
        line-height: 1.2;
    }
    #fb .fb-form {
        width: 280px;
    }

    footer .cdev {
         text-align: left;
    }
    footer .ccpy, footer .cdev {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}