.psettings {
    font-family: ProximaNova-Semibold;
}
.psettings > h4 {
    font-family: ProximaNova-Semibold;
    font-size: 24px;
    color: #222;
    line-height: 1.2;
    margin-bottom: 20px;
}
.psettings-con {
    display: block;
    position: relative;
}
.psettings-con:after {
    content: '';
    display: table;
    clear: both;
}
.psettings-con .psettings-tabs {
    display: block;
    width: 34%;
    float: left;
    padding-right: 30px;
}
.psettings-tabs ul {
    list-style: none;
    display: block;
    width: 100%;
    background-color: #f9f9f9;
}
.psettings-tabs ul li {
    display: block;
    width: 100%;
}
.psettings-tabs ul li a {
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    color: #222;
}
.psettings-tabs ul li a.active,
.psettings-tabs ul li a.active:hover {
    color: #fff;
    background-color: #ef5a1f;
}
.psettings-tabs ul li a:hover,
.psettings-tabs ul li a:active {
    background-color: #efefef;
}

.psettings-tabcontainers {
    display: block;
    width: 66%;
    float: left;
}
.psettings-tabcontainers .tab-con {
    display: none;
    width: 100%;
    background-color: #f9f9f9;
}
.psettings-tabcontainers .tab-con.state-active {
    display: block !important;
}
.pset__tabcon-hd {
    display: block;
    width: 100%;
    padding: 16px;
    font-family: ProximaNova-Semibold;
    font-size: 24px;
    color: #222;
    line-height: 1.2;
    border-bottom: 1px solid #e5e5e5;
}
.pset__tabcon-hd h4 {
    font-family: ProximaNova-Semibold;
}
.pset__tabcon-wrapper {
    padding: 16px;
    font-family: ProximaNova-Regular;
    color: #222;
}
.pset__tabcon-wrapper .pset-block + .pset-block {
    margin-top: 10px;
    padding: 10px 0;
}
.pset__tabcon-wrapper .pset-block .s-row {
    display: block;
    width: 100%;
}
.pset__tabcon-wrapper .pset-block .s-row + .s-row {
    margin-top: 20px;
}
.pset__tabcon-wrapper .pset-block .s-row:after {
    content: '';
    display: table;
    clear: both;
}
.pset__tabcon-wrapper .s__row-title {
    display: block;
    width: 34%;
    float: left;
    font-size: 16px;
}
.pset__tabcon-wrapper .s__row-title .field-req {
    color: #d0181e;
    font-size: 20px;
}
.pset__tabcon-wrapper .s__row-content {
    display: block;
    width: 66%;
    float: left;
}
.pset__tabcon-wrapper .s__row-content.mleft {
    margin-left: 34%;
}
.s__row-content.txt-right {
    text-align: right;
}
.s__row-content .form-gr {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
}
.s__row-content .form-gr label {
    margin-left: 10px;
    cursor: pointer;
}
.s__row-content .form-gr input[type=checkbox] {
    opacity: 0;
    filter: alpha(opacity=0);
}
.s__row-content .form-gr input[type=checkbox]:checked + label span.span-inner i {
    display: inline-block;
}
.s__row-content .form-gr label span.chb {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 20px;
    color: #ef5a1f;
}
.s__row-content .form-gr label .span-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.s__row-content .form-gr label span.square {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}
.s__row-content .form-gr label span i {
    display: none;
    width: 20px;
    height: 20px;
    margin: -1px 0 0 -1px;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 2;
}

.s__row-content .input-gr {
    display: block;
    width: 100%;
}
.s__row-content .input-gr input {
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-family: ProximaNova-Semibold;
    font-size: 18px;
    color: #393939;
    background-color: #f9f9f9;
    border: 1px solid #c3c3c3;
}
.s__row-content .input-gr input:focus {
    background-color: #fff;
}
.s__row-content button[type=submit] {
    margin-left: -4px;
}
.s__row-content button.ui.orange.button {
    font-size: 14px;
    padding: 10px 30px;
}
.s__row-content .ui.selection.dropdown {
    display: block;
    width: 100%;
    min-width: 100%;
    background-color: #f9f9f9;
    border-radius: 0;
}
.s__row-content .slct-date {
    display: block;
    width: 32%;
    float: left;
}
.s__row-content .slct-date + .slct-date {
    margin-left: 2%;
}