.gallery-section .section-hd {
    font-family: ProximaNova-SemiBold;
    font-size: 20px;
    color: #333;
}
.gallery-section > header {
    margin-bottom: 20px;
}
.gallery-section .tabsarea {
    position: relative;
    background-color: #f9f9f9;
}
.tabsarea .tabsarea-header {
    padding: 15px 30px;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
}
.tabsarea .tabsarea-header .tab-link__item {
    color: #859293;
    transition: color 0.25s ease;
}
.tabsarea .tabsarea-header .tab-link__item.active {
    color: #333;
}
.tabsarea .tabsarea-header .tab-link__item:hover {
    color: #333;
    transition: color 0.25s ease;
}
.tabsarea .tabsarea-header .tab-link__item + .tab-link__item {
    margin-left: 30px;
}
.tabsarea .tabsarea-content {
    padding: 15px 30px;
}
.tab-content {
    position: relative;
    display: none;
}
.tab-content .tab-inner {
    position: relative;
}
.tab-content.active {
    display: block;
}
.tab-content .btn-area {
    text-align: right;
    /*padding: 10px 0;*/
    /*margin-top: -10px;*/
}
.tab-content .btn-area > .btn-wrapper {
    position: absolute;
    top: -58px;
    right: 2px;
}
.tab-content .ui.orange.button {
    padding: 10px 20px;
    font-size: 14px;
}

.tab-content .desc-block {
    padding: 15px 5px;
}
.desc-block .desc-block__hd {
    font-family: ProximaNova-SemiBold;
    font-size: 20px;
    margin-bottom: 5px;
}
.desc-block .title {
    font-size: 15px;
    color: #859192;
}
.desc-block .desc-block__content {
    margin: 10px 0 15px 0;
    padding: 10px 0;
    font-family: ProximaNova-Light;
    font-size: 15px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.desc-block .bTFHfX {
    text-align: left;
}

.tab-content .row {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.tab-content .gal-item.col {
    flex: 0 1 auto;
    width: 25%;
    padding: 3px;
}
.tab-content .gal-item {
    position: relative;
}
.tab-content .gal-item > a {
    display: block;
}
.tab-content .gal-item .media-block {
    position: relative;
    display: block;
    width: 100%;
    height: 196px;
    border: 2px solid transparent;
    border-color: rgba(0,0,0,0);
    overflow: hidden;
    transition: border-color 0.25s ease;
}
.tab-content .gal-item:hover .media-block {
    border-color: #ef5a1f;
    transition: border-color 0.25s ease;
}
.tab-content .gal-item .media-title {
    display: block;
    margin: 7px 0 15px 2px;
    color: #333;
    transition: color 0.25s ease;
}
.tab-content .gal-item:hover .media-title {
    color: #ef5a1f;
    transition: color 0.25s ease;
}
.tab-content .gal-item .media-block:hover:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(248,248,248,0.2);
    -webkit-animation: opacity .25s ease-out;
    -moz-animation: opacity .25s ease-out;
}
.tab-content .gal-item .media-block .hover-icon {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #000;
    padding: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.tab-content .gal-item .media-block:hover .hover-icon {
    display: block;
    -webkit-animation: opacity .25s ease-out;
    -moz-animation: opacity .25s ease-out;
}

@-webkit-keyframes opacity {
      0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes opacity {
      0% { opacity: 0; }
    100% { opacity: 1; }
}

.tab-content .gal-item .media-block .hover-icon:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tab-content .gal-item .media-block.media-smash .hover-icon:after {
    background-image: url("../images/icon/search.png");
}
.tab-content .gal-item .media-block.media-video .hover-icon:after {
    background-image: url("../images/icon/video.png");
}
.tab-content .gal-item .media-block.media-img .hover-icon:after {
    background-image: url("../images/icon/picture.png");
}

.tab-content .gal-item .media-block .edit-btn {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    display: none;
    width: 36px;
    height: 36px;
    padding: 9px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ef5a1f;
    transition: box-shadow 0.25s ease;
}
.tab-content .gal-item .media-block .edit-btn:hover {
    /*-webkit-box-shadow: 0px 2px 15px 0px rgba(56,56,56,1);*/
    /*-moz-box-shadow: 0px 2px 15px 0px rgba(56,56,56,1);*/
    /*box-shadow: 0px 2px 15px 0px rgba(56,56,56,1);*/
    -webkit-box-shadow: 0px 2px 15px 0px rgba(239,90,31,1);
    -moz-box-shadow: 0px 2px 15px 0px rgba(239,90,31,1);
    box-shadow: 0px 2px 15px 0px rgba(239,90,31,1);
    transition: box-shadow 0.25s ease;
}
.tab-content .gal-item .media-block:hover .edit-btn {
    display: block;
    -webkit-animation: opacity .25s ease-out;
    -moz-animation: opacity .25s ease-out;
}
.tab-content .gal-item .media-block .edit-btn:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../images/icon/edit.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tab-content .gal-item .media-block .media-count {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 13px;
    background-color: rgba(38,38,38,0.8);
    font-size: 14px;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
}
.tab-content .gal-item:hover .media-block .media-count {
    transform: translateY(0);
    transition: transform 0.25s ease-in-out;
}
.media-count .item-count {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.media-count .item-count .count {
    display: inline-block;
    vertical-align: middle;
}
.media-count .item-count:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: -3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.media-count .item-count.img:before {
    background-image: url('../images/icon/photo_count.png');
}
.media-count .item-count.video:before {
    background-image: url('../images/icon/video_count.png');
}
.media-count .item-count + .item-count {
    margin-left: 20px;
}

.tab-content .gal-item .media-block img {
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*width: auto;*/
    /*height: auto;*/
}



.loading {
    display: block;
    width: 300px;
    height: 200px;
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    margin: auto;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(172,172,172,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(172,172,172,1);
    box-shadow: 0px 5px 15px 0px rgba(172,172,172,1);
    font-family: Lemon-Milk;
}



/* START galley modals */
.ui.dimmer {
    z-index: 99998;
}
.ui.dimmer .ui.modal {
    z-index: 99999;
}
.ui.modal.gal {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui.modal.gal > .header {
    position: relative;
    border: none;
    padding: 20px 15px;
    text-align: center;
    font-family: ProximaNova-Bold;
    font-size: 18px;
    color: #000;
}
.ui.modal.gal > .header > .close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}
.ui.modal > .content.album {
    padding: 20px 40px 40px 40px;
}
.ui.modal > .content form {
    margin: 0;
}
.ui.modal .content .row:after {
    content: '';
    display: table;
    clear: both;
}
.ui.modal .content .row .col {
    display: block;
    width: 50%;
    float: left;
}
.ui.modal .content .row .col + .col {
    padding-left: 20px;
}
.ui.modal .content .field {
    width: 100%;
}
.ui.modal .content .field + .field {
    margin-top: 18px;
}
.ui.modal .content .field > label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
}
.ui.modal .content .field .fitem-gr {
    position: relative;
}
.ui.modal .content .field .fitem {
    display: block;
    width: 100%;
    padding: 11px 15px;
    border: 1px solid #859192;
}
.ui.modal .content .field .fitem-gr .fitem {
    padding: 8px 35px 8px 10px;
}
.ui.modal .content .field .fitem-gr .input-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 17px;
    background-image: url("../../static/images/icon/people.png");
    background-position: center;
    background-size: cover;
    background-position: center;
}
.ui.modal .content.album .btn-area {
    text-align: center;
    margin-top: 20px;
}

.ui.modal .content.photo-video .btn-area {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0 0 0;
    border-top: 1px solid #e5e5e5;
}

.ui.modal .content.photo-video .preview-media {
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #e5e5e5;
}
.ui.modal .content.photo-video .preview-media .input-file {
    display: inline-block;
    vertical-align: middle;
}
.ui.modal .content.photo-video .preview-media .input-file + .input-file {
    margin-left: 10px;
}

 /* START input[type=file](image) - preview */
.ui.modal .content .input-file input[type=file] {
    display: none;
}

.ui.modal .content .input-file { /* default */
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    margin: 0;
}

.ui.modal .content.album .input-file { /* create album */
    width: 200px;
    height: 200px;
}

.ui.modal .content.photo-video .input-file { /* add photo-video */
    width: 120px;
    height: 120px;
}



.ui.modal .content .input-file .preview-img {
    position: relative;
    display: none;
}
.ui.modal .content .input-file.img .preview-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}
.ui.modal .content .input-file.img .preview-img .play-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
}
.ui.modal .content .input-file.img .preview-img .play-icon:before {
    content: '\f01d';
    font-family: FontAwesome;
    font-size: 46px;
    color: #fff;
    line-height: 1;
}
.ui.modal .content .input-file.img .preview-img .overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(38,38,38,0.4);
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    transition: all 0.25s ease;
}
.ui.modal .content .input-file.img .preview-img:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    transition: all 0.25s ease;
}
.ui.modal .content .input-file.img .preview-img .remove:before {
    content: '\f00d';
    font-family: FontAwesome;
    cursor: pointer;
    color: #efefef;
    display: none;
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 2;
}
.ui.modal .content .input-file.img .preview-img:hover .remove:before {
    display: block;
}
.ui.modal .content .input-file.img .preview-img .remove:hover:before {
    color: #fff;
    font-size: 17px;
}

.ui.modal .content .input-file.img .preview-img img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}


.ui.modal .content .input-file.img label {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    background-color: rgba(38,38,38,0.6);
    border: none;
}

.ui.modal .content .input-file.img label:before {
    width: 30px;
    height: 30px;
    font-size: 32px;
    color: #fff;
}

.ui.modal .content .input-file label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border: 2px dashed #acacac;
}
.ui.modal .content .input-file label:hover {
    border-color: #6a6f6f;
}
.ui.modal .content .input-file label:hover:before {
    color: #859192;
}
.ui.modal .content .input-file label:before { /* default */
    content: '\f067';
    display: block;
    width: 40px;
    height: 40px;
    padding-left: 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-family: FontAwesome;
    font-size: 46px;
    color: #acacac;
    line-height: 1;
}

.ui.modal .content.photo-video .input-file label:before { /* add photo-video */
    width: 30px;
    height: 30px;
    font-size: 32px;
}

.ui.modal .content .field .f-list,
.ui.modal .content .field .f-list .menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #859192;
}
.ui.modal .content .field .f-list >.ui.label .option-icon,
.ui.modal .content .field .f-list .menu .item .option-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.ui.modal .content .field .f-list >.ui.label .option-icon img,
.ui.modal .content .field .f-list .menu .item .option-icon img {
    width: 100%;
    height: 100%;
}








.ui.modal .content .field select.fitem {
    cursor: pointer;
    background-color: transparent;
    background-color: rgba(248,248,248,0);
}
.ui.modal .content .field .note {
    font-size: 13px;
    margin-top: 5px;
}

.ui.modal .content.edit-photo-video {
    padding-top: 10px;
}
.ui.modal .content .present-img {
    width: 100%;
    height: 355px;
    overflow: hidden;
}
.ui.modal .content .present-img img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.ui.modal .content .chb-outer {
    text-align: center;
}
.ui.modal .content .chb-item input[type=checkbox] {
    display: none;
}
.ui.modal .content .chb-item {
    display: inline-block;
    margin-top: 10px;
    position: relative;
}
.ui.modal .content .chb-item label {
    cursor: pointer;
    color: #ef5a1f;
    font-size: 15px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.ui.modal .content .chb-item label .title {
    text-decoration: underline;
}
.ui.modal .content .chb-item label .chb-custom {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    position: relative;
    background-color: transparent;
    background-color: rgba(248,248,248,0);
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.ui.modal .content .chb-item input[type=checkbox]:checked ~ label .chb-custom:before {
    content: "\f14a";
    font-family: FontAwesome;
    font-size: 20px;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -2px;
    left: 0;
    line-height: 1;
}
.ui.modal .content.edit-photo-video .field .album-list,
.ui.modal .content.edit-photo-video .field .album-list .menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-color: #859192;
}
.ui.modal .content.edit-photo-video .field .album-list >.text .option-icon,
.ui.modal .content.edit-photo-video .field .album-list .menu .item .option-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 10px;
}
.ui.modal .content.edit-photo-video .field .album-list >.text .option-icon img,
.ui.modal .content.edit-photo-video .field .album-list .menu .item .option-icon img {
    width: 100%;
    height: 100%;
}

.ui.modal .content.edit-photo-video .btn-area {
    margin-top: 30px;
}
.ui.modal .content.edit-photo-video .btn-area .ui.button {
    padding: 8px 12px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.ui.modal .content.edit-photo-video .btn-area .ui.button + .ui.button {
    margin-left: 5px;
}

 /* END input[type=file] - preview */


 /* START present photo video */
.ui.modal.gal.ppv > .header {
    padding: 0;
}
.ui.modal.gal.ppv > .header > .close {
    top: 8px;
    right: 5px;
}
.ui.modal .content.present-photo-video .media-present {
    display: block;
    width: 55%;
    float: left;
}
.ui.modal .content.present-photo-video .media-present .slider-con {
    position: relative;
    display: block;
    width: 100%;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-con {
    overflow: hidden;
    width: 100%;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-con img {
    width: 100%;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 20px;
    transform: translateY(-50%);
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers:after {
    content: '';
    display: table;
    clear: both;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers .controller {
    cursor: pointer;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 24px;
    background-color: #ef5a1f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: box-shadow 0.25s ease;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers .controller:hover {
    webkit-box-shadow: 0px 2px 15px 0px rgba(56,56,56,1);
     -moz-box-shadow: 0px 2px 15px 0px rgba(56,56,56,1);
     box-shadow: 0px 2px 15px 0px rgba(56,56,56,1);
    -webkit-box-shadow: 0px 2px 15px 0px rgba(239,90,31,1);
    -moz-box-shadow: 0px 2px 15px 0px rgba(239,90,31,1);
    box-shadow: 0px 2px 15px 0px rgba(239,90,31,1);
    transition: box-shadow 0.25s ease;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers .controller.left {
    float: left;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers .controller.right {
    float: right;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers .controller:before {
    font-family: FontAwesome;
    color: #fff;
    line-height: 45px;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers .controller.left:before {
    content: '\f053';
    margin-left: -4px;
}
.ui.modal .content.present-photo-video .media-present .slider-con .temp-controllers .controller.right:before {
    content: '\f054';
    margin-left: 4px;
}


.ui.modal .content.present-photo-video .profile-about {
    display: block;
    width: 45%;
    float: left;
    padding: 0 10px 0 30px;
}
 /* END present photo video */


/* END gallery modals */



/* START photo/video open on modal */

.gallery-section .temp {
    width: 480px;
    padding: 10px;
}

/* END photo/video open on modal */



.ui.popup {
    z-index: 5400;
}
.ui.popup.comrpl-editing {
    padding: 5px;
    text-align: left;
}

.fancybox-container {
    z-index: 5000 !important;
}
.fbc-eviltwin { /* fancybox-container - replace class on modal show/hide over this active fancybox container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99992;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

/* Give space around main area */
  .fancybox-custom-layout .fancybox-outer {
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    margin: auto;
    max-width: 1180px;
    max-height: 495px;
    overflow: visible;
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    transition: opacity .3s;
  }

  .fancybox-custom-layout .fancybox-outer .fancybox-inner {
      max-height: 100%;
  }

  /* Make it to fade-out while closing */
  /*.fancybox-custom-layout.fancybox-is-closing .fancybox-outer {*/
    /*opacity: 0;*/
  /*}*/

  /*!* Set color for background element *!*/
  /*.fancybox-custom-layout .fancybox-bg {*/
    /*background: #f6f6f6;*/
  /*}*/

  /*.fancybox-custom-layout.fancybox-is-open .fancybox-bg {*/
    /*opacity: 1;*/
  /*}*/

  /* Move caption area to the right side */
  .fancybox-custom-layout .fancybox-caption-wrap {
    top: 25px;
    right: 25px;
    bottom: 20px;
    left: auto;
    width: 450px;
    padding: 0;
    background: #333;
    pointer-events: all; /* Make text selectable */
    /*border-right: 1px solid rgba(255,255,255,.08);*/
  }

  /* Adjust content area position */
  .fancybox-custom-layout .fancybox-stage {
    right: 480px;
  }

  /* Remove top border from the caption */
  .fancybox-custom-layout .fancybox-caption {
    padding: 0;
    border: 0;
    height: 100%;
  }

  /* Align buttons at the right side  */
  .fancybox-custom-layout .fancybox-toolbar {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 0px;
    z-index: 99998;
    /*background: #333;*/
    /*border-left: 1px solid #222;*/
  }
  .fancybox-custom-layout .fancybox-toolbar .fancybox-button {
    color: #333;
    width: 28px;
    height: 28px;
    margin: 10px 0 0 -40px;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 1px;
    background-color: #fff;
    transition: all .3s ease;
  }
  .fancybox-custom-layout .fancybox-toolbar .fancybox-button:hover {
    color: #859192;
    border-color: #859192;
    transition: all .3s ease;
  }

  /* Remove background from all buttons */
  .fancybox-custom-layout .fancybox-button,
  .fancybox-custom-layout .fancybox-navigation button:before {
    background: transparent;
  }

  /* Change arrow color */
  .fancybox-custom-layout .fancybox-navigation button {
    padding: 5px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ef5a1f;
    color: #fff;
  }

  /* Reposition arrows */
  .fancybox-custom-layout .fancybox-navigation .fancybox-button--arrow_left {
    left: 20px;
  }
 .fancybox-custom-layout .fancybox-navigation .fancybox-button--arrow_right {
    right: 500px;
  }



  /* START modal comment-reply */
.temp {
    width: 480px;
}
.about-area {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}
.about-area .inner-con {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.about-area .about-author {
    display: block;
    margin-bottom: 20px;
}
.about-area .about-author:after {
    content: '';
    display: table;
    clear: both;
}
.about-author .author-img {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.about-author .author-img img {
    width: 100%;
    height: 100%;
}
.about-author .author-about {
    display: block;
    width: 100%;
    padding-left: 60px;
    padding-top: 5px;
}
.about-author .author-about .author-about__name {
    font-size: 15px;
    color: #333;
}
.about-author .author-about .author-about__time {
    font-size: 13px;
    color: #859192;
}
.about-area .about-media {
    width: 100%;
}
.about-area .about-media .media-desc {
    margin-bottom: 10px;
    padding: 3px 0;
    font-family: ProximaNova-SemiBold;
    font-size: 15px;
    border-top: 1px solid #859192;
    border-bottom: 1px solid #859192;
}
.about-media .media-serv {
    width: 100%;
    margin: 10px 0;
}
.about-media .media-serv .media-serv__btns {
    width: 100%;
}
.media-serv__btns .serv-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #859192;
    text-decoration: none;
}
.media-serv__btns .serv-btn + .serv-btn {
    margin-left: 25px;
}
.media-serv__btns .serv-btn > span {
    vertical-align: middle;
}
.media-serv__btns .serv-btn .icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: -4px 6px 0 0;
    background-image: url('../images/profile/sprite.png');
    background-repeat: no-repeat;
}
.media-serv__btns .serv-btn.comment .icon {
    background-position: -112px -22px;
}
.media-serv__btns .serv-btn.like .icon {
    background-position: -1px -42px;
}
.media-serv__btns .serv-btn.like.active .icon {
    background-position: -24px -42px;
}
.media-serv__btns .serv-btn .txt {
    text-decoration: underline;    
}


.about-media .media-serv__comment {
    display: none;
    width: 100%;
    margin: 10px 0 15px 0;
}
.media-serv__comment .lmore-pilist {
    display: block;
    width: 100%;
    margin: 5px 0;
    font-size: 14px;
}
.media-serv__comment .lmore-pilist .lmore-trigger {
    color: #333;
    text-decoration: underline;
}
.media-serv__comment .published {
    width: 100%;
}


.published .published-item .pi-con {
    position: relative;
    padding: 5px 20px 5px 10px;
}
.published.comment .published-item .pi-con {
    border-left: 2px solid #ef5a1f;
}
.con-reply .published.reply .pi-con {
    border-left: 2px solid #e5e5e5;
}
.pi-con .pi-edbtns {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 20px;
    text-align: center;
    color: #859192;
}
.pi-con .pi-edbtns i {
    margin: 0;
}
.pi-con .pi-usercard {
    margin-bottom: 5px;
}
.pi-con .pi-usercard:after {
    content: '';
    display: table;
    clear: both;
}
.pi-con .pi-usercard .piuc-img {
    display: block;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.published.comment .pi-con .pi-usercard .piuc-img {
    width: 35px;
    height: 35px;
}
.published.comment .pi-con .pi-usercard .piuc-img a {
    display: block;
    width: 100%;
    height: 100%;
}
.published.reply .pi-con .pi-usercard .piuc-img {
    width: 30px;
    height: 30px;
}
.pi-con .pi-usercard .piuc-title {
    display: block;
    width: 100%;
}
.published.comment .pi-con .pi-usercard .piuc-title {
    padding-left: 45px;
}
.published.reply .pi-con .pi-usercard .piuc-title {
    padding-left: 40px;
}
.pi-con .pi-usercard .piuc-title .piuc-name {
    color: #333;
}
.pi-con .pi-usercard .piuc-title .piuc-date {
    font-size: 14px;
    color: #859192;
}
.pi-con .pi-usercard .piuc-img img {
    width: 100%;
    height: 100%;
}
.pi-con .pi-content {
    color: #333;
    margin: 5px 0 10px 0;
    white-space: normal;
    word-break: break-all;
}
.published.comment .pi-con .pi-content {
    padding-left: 45px;
}
.published.reply .pi-con .pi-content {
    padding-left: 40px;
}
.pi-con .pi-reply {
    width: 100%;
}
.published.comment .pi-con .pi-reply {
    padding-left: 45px;
    font-size: 15px;
}
.published.reply .pi-con .pi-reply {
    font-size: 14px;
    padding-left: 40px;
}
.pi-con .pi-reply .to-reply {
    color: #ef5a1f;
}
.published.comment .con-reply {
    display: none;
    padding: 10px 0 0 57px;
}


.media-serv__comment .item-add {
    margin-top: 10px;
}
.media-serv__comment .item-add:after {
    content: '';
    display: table;
    clear: both;
}
.item-add .add-author {
    display: block;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.item-add.comment .add-author {
    width: 35px;
    height: 35px;
}
.item-add.reply .add-author {
    width: 30px;
    height: 30px;
}
.item-add .add-author img {
    width: 100%;
    height: 100%;
}
.item-add .add-tarea {
    display: block;
    width: 100%;
    padding-left: 45px;
    padding-top: 4px;
}
.item-add .add-tarea .tarea {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    border-color: #e5e5e5;
    line-height: 1.2;
    color: #333;
    overflow: hidden;
    transition: all 0.4s ease;
    resize: none;
}
/* END modal comment-reply */