{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Find your training</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'css/semantic.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
	<!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <script src="assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
</head>
<body>
    <input type="hidden" id="user" value="{{ user.id }}">
    <input type="hidden" id="profile_channel" value="{{ request.user.profile.channel }}">
    <div id="main">
    {% if request.user.is_authenticated %}
        <header class="hd-fixed u-profile">
            <div class="wrapper">
                <div class="up-ls">
                    <div class="up__logo"><a href="/"><img src="{% static 'images/profile/logo.png' %}" title="https://Findyourtraining.com"></a></div>
                    <div class="up__search">
                        <form method="get" action="{% url 'main:user.search' request.user.username %}" id="search-userform">
                            <div class="s-con">
                                <input type="text" id="search-user" name="search" class="f-search" placeholder="Search..." autocomplete="off">
                                <button type="submit" class="btn-s"><i class="search icon"></i></button>
                            </div>
                            <div class="rs-container">
                                <div class="results"></div>
                                <div class="view-all">
                                    <a class="rs-item"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <nav id="menu">
                    <ul class="txt-uppercase">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url "main:user.map" request.user.username %}">Map</a></li>
                        <li><a href="#" class="coming_soon">Competition</a></li>
                        <li><a href="#">About project</a></li>
                    </ul>
                </nav>
                <div class="lang-auth">
                    <div id="profile-menu">
                        <div class="profile-wind">
                            <a href="#" class="notify notify-off" data-target="#ppnm">
                                <i class="alarm outline icon"></i>
                                <span class="notify-count">
                                    {% if request.user.profile.notifications_status and request.user.profile.last_notifications > 0 %}
                                        {{ request.user.profile.last_notifications }}
                                    {% endif %}
                                </span>
                            </a>
                            <a href="#" id="pm-trigger" data-target="#p-menu">
                                <span class="profile-img">
                                    <img src="{{ request.user.profile.avatar.url }}"
                                   title="{{ request.user.username }}">
                                </span>
                                <span class="profile-uname">{{ request.user.username }}</span>
                            </a>
                        </div>
                        <div id="ppnm" class="ui popup nm" data-state="off">
                            <div class="nm-ul">
                                <div class="nmul-title">
                                    <a href="#" class="mark-asread">Mark all as read</a>
                                    <h4>Notifications</h4>
                                </div>
                                <div class="nmul-inner">
                                    <div class="new sec">
                                        <div class="content"></div>
                                    </div>
                                    <div class="old sec">
                                        <div class="content"></div>
                                    </div>
                                </div>
                                <div class="nmul-ft">
                                    <a href="#" class="all-notif">All</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu" id="p-menu">
                            <a href="#" class="item">Latest news</a>
                            <a href="#" class="item">Friends</a>
                            <a href="#" class="item coming_soon">Teams</a>
                            <a href="{% url "main:user.map" request.user.username %}" class="item coming_soon">Locations</a>
                            <a href="{% url 'main:user.trainings' user.username %}" class="item">My trainings</a>
                            <a href="#" class="item coming_soon">Training around</a>
                            <a href="#" class="item coming_soon">Competition</a>
                            <a href="#" class="item coming_soon">Gallery</a>
                            <a href="{% url 'main:user.settings' request.user.username %}" class="item">Settings</a>
                            <a href="#" class="item coming_soon">Competition</a>
                            <a href="{% url 'account:logout' %}" class="item logout"><span><i class="sign out icon"></i></span> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% else %}
        <header class="hd-fixed">
            <div class="wrapper">
                <nav id="menu">
                    <ul class="txt-uppercase">
                        <li><a href="/">Home</a></li>
                        <li><a href="#" class="to-auth">Map</a></li>
                        <li><a href="#" class="coming_soon">Competition</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="#">{{ user.username }}</a></li>
                        {% endif %}
                        <li><a href="{% url 'main:contact' %}">About project</a></li>
                    </ul>
                </nav>
                <div class="lang-auth">
                    <div class="la-item la-item__lang">
                        <div id="ch-lang" class="ui selection dropdown">
                            <input type="hidden" name="lang">
                            <i class="dropdown icon"></i>
                            <div class="default text"><i class="us flag"></i><span>English</span></div>
                            <div class="menu">
                                <div class="item" data-value="en"><i class="us flag"></i>English</div>
                                <div class="item" data-value="ru"><i class="ru flag"></i>Russian</div>
                            </div>
                        </div>
                    </div>
                    <div class="la-item la-item__auth"><a href="{% url 'account:login' %}" class="auth">Login</a></div>
				</div>
            </div>
        </header>
    {% endif %}
        <div class="about">
            <div class="about-us">
                <div class="aboutus-txt">
                    <div class="wrapper">
                        <div class="title">
                            <span class="txt-black">About</span>
						    <span class="txt-orange">Project</span>
                        </div>
                        <div class="content">
                            <p>
                                Our map will help you to find all sport activity around you , where ever you ,any city , any country , anywhere all over the world.
						        From calisthenic/fitness parks, running tracks and stadium's, to beautiful and breathtaking places where you can meet like minded people and train together. Again, we are the first company to launch something of this kind in Europe. Not only do we teach you the cooking skills you would like to learn but also educate you on the nutritional value of food throughout the weekend. This weekend is perfect for returning clients and new clients.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="aboutus-pic">
                    <div class="wrapper">
                        <div class="pic"></div>
                    </div>
                    <div class="border-bottom"></div>
                </div>
            </div>
            <div class="about-loc">
                <div class="wrapper">
                    <div class="aboutloc-hd">
                        <span class="txt-black">Our</span>
                        <span class="txt-orange">Offices</span>
                    </div>
                    <div class="row">
                        <a href="#" class="locitem">
                            <div class="inner">
                                <div class="locitem-txt">
                                    <div class="title">Tashkent</div>
                                    <div class="txt">
                                        68а Shota Rustaveli Street<br/>
                                        Yakkasaray district<br/>
                                        Tashkent, 100100<br/>
                                        Uzbekistan
                                    </div>
                                </div>
                                <div class="locitem-pic">
                                    <img src="{% static 'images/map_nyc.jpg' %}" alt="Map of the New York office">
                                </div>
                            </div>
                        </a>
                        <a href="#" class="locitem">
                            <div class="inner">
                                <div class="locitem-txt">
                                    <div class="title">Vancouver</div>
                                    <div class="txt">
                                        1028 Hamilton Street<br/>
                                        Suite 401<br/>
                                        Vancouver, BC, Canada<br/>
                                        V6B2R9
                                    </div>
                                </div>
                                <div class="locitem-pic">
                                    <img src="{% static 'images/map_yvr.jpg' %}" alt="Map of the Vancouver office">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-contact">
                <div class="about-top">
                    <div class="wrapper">
                        <div class="at-title txt-uppercase">Get in touch</div>
                        <div class="at-val">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from itents.</div>
                    </div>
                </div>
                <div class="aboutform-sec">
                    <div class="wrapper">
                        <div class="about-form">
                            <div class="aform-wrapper">
                                <form action="{% url 'offer:new-offer' %}" method="POST">{% csrf_token %}
                                    <div class="field">
                                        <input type="text" name="name" placeholder="NAME" required>
                                    </div>
                                    <div class="field">
                                        <input type="email" name="email" placeholder="EMAIL" required>
                                    </div>
                                    <div class="field">
                                        <textarea name="message" rows="13" placeholder="MESSAGE" required></textarea>
                                    </div>
                                    <div class="field">
                                        <button type="submit" class="ui orange button txt-uppercase">Send message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
			<div class="wrapper">
				<div class="ccpy"><p>&copy; 2018 All rights reserved<br/>by Findyourtraining | <a href="/" class="txt-orange">Terms / Privacy</a></p></div>
				<div class="cdev"><p>Developed by <a href="https://osg.uz" class="txt-orange">Online Service Group</a></p></div>
			</div>
		</footer>
	</div>
    <div class="ui popup" id="info-p">
        <div class="header">Info</div>
        <div class="content">The referenced page at the design state...</div>
    </div>


	<!-- include jQuery-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/not_developed_pages_popup.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        $(function() {
            $('.ui.dropdown').dropdown();
        });
    </script>
</body>
</html>