{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Find your training</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'css/semantic.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>#}
	<!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <script src="assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
</head>
<body>
	
	<div id="main">
		<header class="hd-fixed">
			<div class="wrapper">
				<nav id="menu">
                    <input type="checkbox" />
                    <div id="menutoggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
					<ul class="txt-uppercase">
						<li><a href="/">Home</a></li>
						<li><a href="#" class="to-auth">Map</a></li>
						<li><a href="#" class="coming_soon">Competition</a></li>
						{% if user.is_authenticated %}
						    <li><a href="#">{{ user.username }}</a></li>
						{% endif %}
						<li><a href="{% url 'main:contact' %}">About project</a></li>
					</ul>
				</nav>
				<div class="lang-auth">
                    <div class="la-item la-item__lang">
                        <div id="ch-lang" class="ui selection dropdown">
                            <input type="hidden" name="lang">
                            <i class="dropdown icon"></i>
                            <div class="default text"><i class="us flag"></i><span>English</span></div>
                            <div class="menu">
                                <div class="item" data-value="en"><i class="us flag"></i>English</div>
                                <div class="item" data-value="ru"><i class="ru flag"></i>Russian</div>
                            </div>
                        </div>
                    </div>
                    <div class="la-item la-item__auth"><a href="{% url 'account:login' %}" class="auth">Login</a></div>
				</div>
			</div>
		</header>
		{% block content %}
		    <section id="home">
                <div class="h-bg" style="background-image: url({% static 'images/63bfd4f362a2d55bb4b04c19dc508273.jpg' %});"></div>
                <div class="wrapper">
                    <div class="comp-info">
                        <div class="logo"><img src="{% static 'images/logo_f.png' %}" title="Find your training"></div>
                        <div class="slogan"><h1 class="txt-uppercase">Find<span class="txt-orange">your</span> training</h1></div>
                    </div>
                    <div class="form-block txt-uppercase">
                        <form action="">
                            <div class="select-gr">
                                <div id="slct-country" class="ui selection dropdown">
                                    <input type="hidden" name="country">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Choose country</div>
                                    <div class="menu">
                                        <div class="item" data-value="eae">United arab emirates</div>
                                        <div class="item" data-value="de">USA</div>
                                        <div class="item" data-value="gb">Russia</div>
                                    </div>
                                </div>
                                <div id="slct-city" class="ui selection dropdown">
                                    <input type="hidden" name="city">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Choose city</div>
                                    <div class="menu">
                                        <div class="item" data-value="01">Dubai</div>
                                        <div class="item" data-value="02">New York</div>
                                        <div class="item" data-value="03">Moscow</div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="ui orange button txt-uppercase">Find</button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="map">
                <div class="parallaxie" style="background-image: url({% static 'images/bf55aa732a6928d3f87436a94ed74d0d.jpg' %});"></div>
                <div class="wrapper">
                    <div class="direct">
                        <div class="direct__wrapper">
                            <h3 class="direct__title txt-orange"><span>We</span></h3>
                        </div>
                        <div class="direct__preview">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi praesentium saepe, consectetur consequatur deserunt, iusto eos aspernatur labore minus odit, est! Voluptatem alias eos ut voluptatum eum numquam eligendi fuga minima possimus!</p>
                        </div>
                        <div class="direct__cols">
                            <ul>
                                <li>
                                    <div class="map-icon"><img src="{% static 'images/b9cefcf6d3ddb59a522667cd85170cc5.png' %}" title="GYM"></div>
                                    <h4 class="icon-title">GYM</h4>
                                </li>
                                <li>
                                    <div class="map-icon"><img src="{% static 'images/c8d6a7ad68188a5cdc3a023ac0951d2b.png' %}" title="YOGA"></div>
                                    <h4 class="icon-title">YOGA</h4>
                                </li>
                                <li>
                                    <div class="map-icon"><img src="{% static 'images/4ae008e7b3dc6da25b980e6a4feb3ef7.png' %}" title="CALISTHENICS PARK"></div>
                                    <h4 class="icon-title">CALISTHENICS PARK</h4>
                                </li>
                                <li>
                                    <div class="map-icon"><img src="{% static 'images/41e8fb1ba52d327719c2abb0000d8ed7.png' %}" title="RUNNING TRACK"></div>
                                    <h4 class="icon-title">RUNNING TRACK</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="direct__more"><a href="#" class="txt-orange txt-uppercase">Full map</a></div>
                    </div>
                </div>
            </section>
            <section id="about" style="background-image: url({% static 'images/980baa59036bbd9de100f9861fa7eae5.jpg' %});">
                <div class="about-bg"></div>
                <div class="wrapper">
                    <div class="about__con">
                        <h2 class="about__con-title txt-uppercase">
                            <span class="txt-black">About</span>
                            <span class="txt-orange">Project</span>
                        </h2>
                        <p class="about__con-preview">
                            Our map will help you to find all sport activity around you , where ever you ,any city , any country , anywhere all over the world.
                            From calisthenic/fitness parks, running tracks and stadium's, to beautiful and breathtaking places where you can meet like minded people and train together. Again, we are the first company to launch something of this kind in Europe. Not only do we teach you the cooking skills you would like to learn but also educate you on the nutritional value of food throughout the weekend. This weekend is perfect for returning clients and new clients.
                        </p>
                        <button type="button" class="ui orange button txt-uppercase">Read more</button>
                    </div>
                </div>
            </section>
            <section id="serv">
                <div class="parallaxie" style="background-image: url({% static 'images/451611c7076e72434362f8dc10bc11f6.jpg' %});"></div>
                <div class="wrapper">
                    <div class="serv__con">
                        <h3 class="txt-uppercase">What our site stands for</h3>
                        <div class="serv-cols">
                            <div class="sc__col">
                                <div class="sccol-imgwrapper">
                                    <div class="sc__col-img"><img src="{% static 'images/93772d477577f995fb2b4a955d7ee5e8.png' %}" title="Find somewhere to train"></div>
                                </div>
                                <div class="sc__title"><p>Find somewhere to train</p></div>
                            </div>
                            <div class="sc__col">
                                <div class="sccol-imgwrapper">
                                    <div class="sc__col-img"><img src="{% static 'images/f7b815d2b50fac2a9ac96d8449d8a242.png' %}" title="Find someone to train with"></div>
                                </div>
                                <div class="sc__title"><p>Find someone to train with</p></div>
                            </div>
                            <div class="sc__col">
                                <div class="sccol-imgwrapper">
                                    <div class="sc__col-img"><img src="{% static 'images/122a543f4b03988a7f647ddba28781c9.png' %}" title="Find how to train"></div>
                                </div>
                                <div class="sc__title"><p>Find how to <br/> train</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="fb">
                <div class="wrapper">
                    <div class="fb-form">
                        <h3 class="fbf__title txt-uppercase">Get in touch</h3>
                        <form action="">
                            <div class="input-gr">
                                <!-- <label for="f-name">Your name</label> -->
                                <input type="text" id="f-name" class="f-field" placeholder="Your name">
                            </div>
                            <div class="input-gr">
                                <!-- <label for="f-email">Email</label> -->
                                <input type="email" id="f-email" class="f-field" placeholder="Email">
                            </div>
                            <div class="input-gr">
                                <!-- <label for="f-msg">Message</label> -->
                                <textarea name="" id="f-msg" class="f-field" placeholder="Message"></textarea>
                            </div>
                            <button type="submit" class="ui orange button txt-uppercase">Send message</button>
                        </form>
                    </div>
                </div>
            </section>
		{% endblock %}
		<footer>
			<div class="wrapper">
				<div class="ccpy"><p>&copy; 2018 All rights reserved<br/>by Findyourtraining | <a href="/" class="txt-orange">Terms / Privacy</a></p></div>
				<div class="cdev"><p>Developed by <a href="https://osg.uz" class="txt-orange">Online Service Group</a></p></div>
			</div>
		</footer>
	</div>

    <div class="ui popup" id="info-p">
        <div class="header">Info</div>
        <div class="content">The referenced page at the design state...</div>
    </div>
	

	<!-- include jQuery-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/not_developed_pages_popup.js' %}"></script>
    <script src="{% static 'js/parallaxie.js' %}"></script>
{% block script %}
    <script>
        $(function() {
            // init parallax;
            $('.map .parallaxie, #serv .parallaxie').parallaxie({
                speed: 0.5,
                size: 'cover',
                offset: 0,
                repeat: 'no-repeat'
            });

            $('.ui.dropdown').dropdown();
        });
    </script>
{% endblock %}
</body>
</html>
