{% load staticfiles %}
{% load main_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find your training</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/hamburgers.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/croppie.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slider-pro.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/calendar.min.css' %}"/>
    <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.min.js"></script>
        <script src="../assets/js/respond.min.js"></script>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    {% block css %}

    {% endblock %}
</head>
<body>
    <input type="hidden" id="user" value="{{ user.id }}">
    <input type="hidden" id="user_" value="{{ user_.id }}">
    <input type="hidden" id="get_post_feed" value="{% url 'api:_post.list' %}">
    <input type="hidden" id="current_user_username" value="{{ request.user.username }}">
    <input type="hidden" id="profile_channel" value="{{ request.user.profile.channel }}">
    <div class="ui modal tiny" id="ep">
        <div class="header"><p>Edit photo</p><i class="close icon"></i></div>
        <div class="content">
            <form action="" method="post" enctype="multipart/form-data" class="upload_photo_form">
            {% csrf_token %}
                <div class="photo-editcon">
                    <div class="photo-edit">
                        <div class="edit-area">
                            <div id="crop-containter"></div>
                        </div>
                    </div>
                    <div class="photo-edpreview" style="display: none;">
                        <div class="pedpreview-wrapper">
                            <div class="pedpreview-item lg"></div>
                            <div class="pedpreview-item md"></div>
                            <div class="pedpreview-item sm"></div>
                        </div>
                    </div>
                </div>
                <div class="pe-un">
                    <div class="pe-upload">
                        <label class="fileContainer">
                            Upload photo...
                            <input type="file" name="photo" id="uphoto" accept="image/*"/>
                        </label>
                    </div>
                    <div class="pe-notify">
                        <p>Please select an area for your profile picture</p>
                        <p>You can increase or decrease the circle to position it properly</p>
                    </div>
                </div>
                <div class="pe-btns">
                    <button type="button" id="cancel" class="ui grey button txt-uppercase">Back</button>
                    <button type="submit" id="sc" class="ui orange button txt-uppercase">Save and continue</button>
                </div>
            </form>
        </div>
    </div>
    <div class="ui mini modal" id="post-edit">
        <div class="header">
            Edit Post
        </div>
        <div class="content">
            <p>Are you sure you want to edit this post</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                No
            </div>
            <div class="ui positive right labeled icon button">
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div class="ui mini modal" id="post-delete">
        <div class="header">
            Delete Post
        </div>
        <div class="content">
            <p>Are you sure you want to delete this post</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
                No
            </div>
            <div class="ui positive right labeled icon button">
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div id="main" class="pad">
        <header class="hd-fixed u-profile">
            <div class="wrapper">
                <div class="up-ls">
                    <div class="up__logo"><a href="/"><img src="{% static 'images/profile/logo.png' %}" title="https://Findyourtraining.com"></a></div>
                    <div class="up__search">
                        <form method="get" action="{% url 'main:user.search' request.user.username %}" id="search-userform">
                            <div class="s-con">
                                <input type="text" id="search-user" name="search" class="f-search" placeholder="Search..." autocomplete="off">
                                <button type="submit" class="btn-s"><i class="search icon"></i></button>
                            </div>
                            <div class="rs-container">
                                <div class="results"></div>
                                <div class="view-all">
                                    <a class="rs-item"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <nav id="menu">
                    <ul class="txt-uppercase">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'main:user.map' request.user.username %}">Map</a></li>
                        <li><a href="#" class="coming_soon">Competition</a></li>
                        <li><a href="{% url 'main:user.about_project' request.user.username %}">About project</a></li>
                    </ul>
                </nav>
                <div class="lang-auth">
                    <div id="profile-menu">
                        <div class="profile-wind">
                            <a href="#" class="notify notify-off" data-target="#ppnm">
                                <i class="alarm outline icon"></i>
                                <span class="notify-count">
                                    {% if request.user.profile.notifications_status and request.user.profile.last_notifications > 0 %}
                                        {{ request.user.profile.last_notifications }}
                                    {% endif %}
                                </span>
                            </a>
                            <a href="#" id="pm-trigger" data-target="#p-menu">
                                <span class="profile-img">
                                    <img src="{{ request.user.profile.avatar.url }}"
                                   title="{{ request.user.username }}">
                                </span>
                                <span class="profile-uname">{{ request.user.username }}</span>
                            </a>
                        </div>
                        <div id="ppnm" class="ui popup nm" data-state="off">
                            <div class="nm-ul">
                                <div class="nmul-title">
                                    <a href="#" class="mark-asread">Mark all as read</a>
                                    <h4>Notifications</h4>
                                </div>
                                <div class="nmul-inner">
                                    <div class="new sec">
                                        <div class="content"></div>
                                    </div>
                                    <div class="old sec">
                                        <div class="content"></div>
                                    </div>
                                </div>
                                <div class="nmul-ft">
                                    <a href="#" class="all-notif">All</a>
                                </div>
                            </div>
                        </div>
{#                        <div id="notify-menu" class="nm" data-state="off">#}
{#                            <div class="nm-ul">#}
{#                                <div class="nmul-title">#}
{#                                    <a href="#" class="mark-asread">Mark all as read</a>#}
{#                                    <h4>Notifications</h4>#}
{#                                </div>#}
{#                                <div class="nmul-inner">#}
{#                                    <div class="new sec">#}
{#                                        <div class="content"></div>#}
{#                                    </div>#}
{#                                    <div class="old sec">#}
{#                                        <div class="content"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="nmul-ft">#}
{#                                    <a href="#" class="all-notif">All</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="menu" id="p-menu">
                            <a href="#" class="item">Latest news</a>
                            <a href="#" class="item">Friends</a>
                            <a href="#" class="item coming_soon">Teams</a>
                            <a href="{% url 'main:user.map' request.user.username %}" class="item coming_soon">Locations</a>
                            <a href="{% url 'main:user.trainings' user.username %}" class="item">My trainings</a>
                            <a href="#" class="item coming_soon">Training around</a>
                            <a href="#" class="item coming_soon">Competition</a>
                            <a href="{% url 'main:user.gallery.list' user.username %}" class="item">Gallery</a>
                            <a href="{% url 'main:user.settings' request.user.username %}" class="item">Settings</a>
                            <a href="{% url 'account:logout' %}" class="item logout"><span><i class="sign out icon"></i></span> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="profile-container">
            <div class="wrapper">
                <div id="lside-bar">
                    <div class="lside__profile-pinfo">
                        <div class="lside__profile-img">
                            {% if request.user == user_ %}
                                <a class="imgc" href="#" id="ep-trigger">
                                    <img src="{{ user_.profile.avatar.url }}" title="Edit photo" id="profileImg" data-state="def">
                                </a>
                                <i class="photo icon" id="ep-t2" title="Edit photo"></i>
                            {% else %}
                                <div class="imgc">
                                    <img src="{{ user_.profile.avatar.url }}" id="profileImg" data-state="def">
                                </div>
                            {% endif %}
                        </div>
                        <div class="lside__profile-title">{% if user_.get_full_name %}{{ user_.get_full_name }}{% else %}{{ user_.username }} {% endif %}</div>
                    </div>
                    {% if not request.user == user_ %}
                        {% if request.user in user_.profile.friend_requests.all %}
                                <div class="ff-blck">
                                    <div class="ui orange message">Friend request sent</div>
                                </div>
                        {% else %}
                            {% if request.user not in user_.profile.friends.all and user_ not in request.user.profile.friends.all %}
                                <div class="ff-blck">
                                    <button data-id="{{ user_.id }}" data-url="{% url 'account:add_friend' %}" id="addfriend" type="button" class="ui orange button txt-uppercase">Add to friend</button>
                                </div>
                            {% else %}
                                <div class="ff-blck">
                                    <button data-id="{{ user_.id }}" id="chatwf" type="button" class="ui orange button txt-uppercase minbtn">
                                        Message
                                        <span class="txt-icon"><i class="mail icon"></i></span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="lside__nav">
                        <ul class="txt-uppercase">
                            {% if request.user == user_ %}
                                {% if 'feed' in request.path %}
                                    <li class="active"><span><i class="icon news"></i><span>Latest news</span></span></li>
                                {% else %}
                                    <li><a href="{% url 'main:user.feed' request.user.username %}"><i class="icon news"></i><span>Latest news</span></a></li>
                                {% endif %}
                                {% if 'friends' in request.path %}
                                    <li class="active"><span><i class="icon friends"></i><span>Friends({{ user_.profile.friends.count }})</span></span></li>
                                {% else %}
                                    <li><a href="{% url 'main:user.friends' request.user.username %}"><i class="icon friends"></i><span>Friends({{ user_.profile.friends.count }})</span></a></li>
                                {% endif %}
                                {% if 'teams' in request.path %}
                                {% else %}
                                    <li><a href="#" class="coming_soon"><i class="icon teams"></i><span>Teams</span></a></li>
                                {% endif %}
                                <li><a href="{% url "main:user.map" request.user.username %}" class="coming_soon"><i class="icon locations"></i><span>Locations</span></a></li>
                                {% if 'trainings' in request.path %}
                                    <li class="active"><span><i class="icon trainings"></i><span>My trainings</span></span></li>
                                {% else %}
                                    <li><a href="{% url 'main:user.trainings' user.username %}"><i class="icon trainings"></i><span>My trainings</span></a></li>

                                {% endif %}
                                <li><a href="#" class="coming_soon"><i class="icon around"></i><span>Training around</span></a></li>
                                <li><a href="#" class="coming_soon"><i class="icon competition"></i><span>Competition</span></a></li>
                                {% if 'chat' in request.path %}
                                    <li class="active"><span><i class="icon messages"></i><span>Messages</span></span></li>
                                {% else %}
                                    <li><a href="{% url 'main:user.chat' request.user.username %}"><i class="icon messages"></i><span>Messages</span></a></li>
                                {% endif %}
                                {% if 'gallery' in request.path %}
                                    <li class="active"><span><i class="icon gallery"></i><span>Gallery</span></span></li>
                                {% else %}
                                    <li><a href="{% url 'main:user.gallery.list' user.username %}"><i class="icon gallery"></i><span>Gallery</span></a></li>
                                {% endif %}
                                {% if 'settings' in request.path %}
                                    <li class="active"><span><i class="icon profile"></i><span>Settings</span></span></li>
                                {% else %}
                                    <li><a href="{% url 'main:user.settings' request.user.username %}"><i class="icon profile"></i><span>Settings</span></a></li>
                                {% endif %}
                            {% else %}
                                <li><a href="{% url 'main:user.friends' user_.username %}"><i class="icon friends"></i><span>Friends({{user_.profile.friends.count}})</span></a></li>
                                <li><a href="#" class="coming_soon"><i class="icon teams"></i><span>Teams</span></a></li>
                                <li><a href="{% url 'main:user.trainings' user_.username %}"><i class="icon trainings"></i><span>His/Her trainings</span></a></li>
                                <li><a href="#" class="coming_soon"><i class="icon gallery"></i><span>Gallery</span></a></li>
                            {% endif %}
                        </ul>
                        <div class="fonline">
                            <div class="fo__state fo-exist">Friends online</div>
                            <ul class="user_list_online">
                                {% for f in request.user.profile.friends.all %}
                                    {% if f.profile.online %}
                                        {% if f.get_full_name %}
                                            <li>
                                                <a href="{{ f.get_absolute_url }}">
                                                    <span class="img-con">
                                                        <span class="img-inner">
                                                            <img src="{{ f.profile.avatar.url }}" alt="image">
                                                        </span>
                                                        <span class="fstate-icon"></span>
                                                    </span>
                                                    <span class="title">{{ f.get_full_name }}</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{{ f.get_absolute_url }}">
                                                    <span class="img-con">
                                                        <span class="img-inner">
                                                            <img src="{{ f.profile.avatar.url }}" alt="image">
                                                        </span>
                                                        <span class="fstate-icon"></span>
                                                    </span>
                                                    <span class="title">{{ f.username }}</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="side-con">
                    {% comment %}
                    {% if can_follow == 'myself' %}
                    {% elif can_follow %}
                        <div class="f-invite"><button data-id="{{ user_.id }}" data-action="follow" type="button" class="ui orange button txt-uppercase follow">
                            Follow
                        </button></div>
                    {% else %}
                        <div class="f-invite"><button data-id="{{ user_.id }}" data-action="unfollow" type="button" class="ui orange button txt-uppercase follow">
                            Unfollow
                        </button></div>
                    {% endif %} #}
                    {% endcomment %}
                    <div class="sc-wrapper">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="wrapper">
                <div class="ccpy"><p>&copy; 2018 All rights reserved<br/>by Findyourtraining | <a href="#" class="txt-orange coming_soon">Terms / Privacy</a></p></div>
                <div class="cdev"><p>Developed by <a href="https://osg.uz" class="txt-orange">Online Service Group</a></p></div>
            </div>
        </footer>
    </div>
    <div class="ui popup" id="info-p">
        <div class="header">Info</div>
        <div class="content">The referenced page at the design state...</div>
    </div>


    <!-- include jQuery-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/croppie.min.js' %}"></script>
    <script src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
    <script src="{% static 'js/parallaxie.js' %}"></script>
    <script src="{% static 'js/not_developed_pages_popup.js' %}"></script>
    {#    <script src="https://yastatic.net/share2/share.js"></script>#}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
    <script src="{% static 'js/time.js' %}"></script>
{% block script %}

{% endblock %}
</body>
</html>