{% extends 'user/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
{% endblock %}

{% block content %}
    <div class="fl-wrapper">
        {% if request.user == user_ %}
            <div class="u-post">
                <div class="pr-overlay">
                    <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                    </div>
                </div>
                <form action="{% url 'post:create' %}" method="POST" enctype="multipart/form-data" id="post-form">
                    <input type="hidden" name="owner" value="{{ request.user.id }}">
                    <div class="p-attachment">
                        <label class="pa pa-photo" for="inputfile"><i class="photo icon"></i><span>Photo</span></label>
                        <label class="pa pa-video" for="inputfile"><i class="record icon"></i> <span>Video</span></label>
                        <label class="pa pa-file" for="inputfile"><i class="attach icon"></i> <span>File</span></label>
                        <input type="file" id="inputfile" name="file" accept="image/*, video/*" multiple>
                    </div>
                    <div class="form-gr">
                        <textarea name="context" id="post-text" placeholder="What do you plan to do"></textarea>
                    </div>
                    <div class="p-external" style="display: none;">
                        <a href="#"><i class="icon friends"></i> <span>Tag people</span></a>
                        <a href="#"><i class="icon around"></i> <span>Check in</span></a>
                    </div>
                    <div class="pexternal-con" style="display: none;">
                        <div class="tagpeople-area">
                        </div>
                    </div>
                    <div class="pmedia-preview">
                        <label class="pmpreview-img pm-add display-off" for="inputfile"><i class="plus icon"></i></label>
                    </div>
                    <div class="p-submit"><button type="submit" id="post-btn" class="ui orange button txt-uppercase">POST</button></div>
                </form>
            </div>
        {% endif %}
        <div class="feed-list"></div>
    </div>
    <div id="adds-area">
        <a href="#" class="test-content">
            <img src="{% static 'images/banners/banner1.jpg' %}" alt="240x320" title="240x320">
{#            <span>Здесь могла быть ваша реклама</span>#}
        </a>
        <a href="#" class="test-content">
            <img src="{% static 'images/banners/banner2.jpg' %}" alt="240x320" title="240x320">
        </a>
        <a href="#" class="test-content">
            <img src="{% static 'images/banners/banner3.png' %}" alt="240x320" title="240x320">
        </a>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/post.js' %}"></script>
    <script src="{% static 'js/post-feed-load.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script>
      $(function() {

        $('[data-fancybox]').fancybox({
          loop: true,
          buttons : [
            'zoom',
            'close'
          ]
        });

      });
    </script>
{% endblock %}