{% extends 'user/base.html' %}
{% load static %}
{% load main_tags %}
{% block content %}
{% csrf_token %}

<div class="search-friend">
    <div class="sf-hd"><a href="#" class="sf-toggle" data-target="#sf-area-toggle">Search for friend <span><i class="angle right icon"></i></span></a></div>
    <div class="sf-area" id="sf-area-toggle">
        <form action="">
            <div class="sf-selection-gr">
                <div class="sfa-gr">
                    <label for="searchf-name">Name*</label>
                    <input type="text" name="" class="sfa-gr-item" required placeholder="Type friend name">
                </div>
                <div class="sfa-gr">
                    <label for="searchf-country">Country</label>
                    <div id="searchf-country" class="ui dropdown selection sfa-gr-item">
                        <input type="hidden" name="country">
                        <div class="default text">Choose country</div>
                        <i class="angle down icon"></i>
                        <div class="menu">
                            <div class="item" data-value="0">United Arab Emirates</div>
                            <div class="item" data-value="1">England</div>
                            <div class="item" data-value="2">Spain</div>
                            <div class="item" data-value="3">Russia</div>
                            <div class="item" data-value="4">Germany</div>
                            <div class="item" data-value="5">USA</div>
                        </div>
                    </div>
                </div>
                <div class="sfa-gr">
                    <label for="searchf-city">Country</label>
                    <div id="searchf-city" class="ui dropdown selection sfa-gr-item">
                        <input type="hidden" name="city">
                        <div class="default text">Choose city</div>
                        <i class="angle down icon"></i>
                        <div class="menu">
                            <div class="item" data-value="0">Dubai</div>
                            <div class="item" data-value="1">London</div>
                            <div class="item" data-value="2">Madrid</div>
                            <div class="item" data-value="3">Moscow</div>
                            <div class="item" data-value="4">Berlin</div>
                            <div class="item" data-value="5">New York</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sfa-btn"><button type="button" class="ui orange button txt-uppercase">Search</button></div>
        </form>
    </div>
</div>

{% if request.user.profile.friend_requests.count > 0 %}
<div class="request-friend">
    <div class="rf-hd">
        <a href="#" class="rf-toggle" data-target="#rf-area-toggle">Friend request: <span class="rf-count">{{ request.user.profile.friend_requests.count }}</span><span><i class="angle right icon"></i></span></a>
    </div>
    <div class="rf-area" id="rf-area-toggle" style="display: block;">
        {% for r_user in request.user.profile.friend_requests.all %}
            <div class="rfa-item" id="rfa-{{ r_user.id }}">
                <div class="fcon">
                    <div class="friend__usercard">
                        <div class="friend__usercard-img">
                            <a href="#"><img src="{{ r_user.profile.avatar.url }}" title="img"></a>
                            <span class="fstate-icon"></span>
                        </div>
                        <div class="friend__usercard-info">
                            <div class="fui__con">
                                <a href="#" class="fui__name">{{ r_user.profile.fullname }}</a>
                                <div class="rf__usercard-location"><span class="country">Uzbekistan</span> • <span class="city">Tashkent</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="rfa__item-servbtn">
                        <button type="button" data-id="{{ r_user.id }}" data-action="confirm" class="ui orange button txt-uppercase reqactbtn">Confirm</button>
                        <button type="button" data-id="{{ r_user.id }}" data-action="ignore" class="ui grey button txt-uppercase reqactbtn">Ignore</button>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endif %}
{% if request.user == user_ %}
    <div class="friend-list">
    <div class="friend__list-hd">My friends: <span class="fcount">{{ request.user.profile.friends.count }}</span></div>
    <div class="friend__list-con">
        {% for friend in request.user.profile.friends.all %}
            {% if friend != request.user %}
                <div class="friend" data-id="{{ friend.id }}">
                    <div class="fcon">
                        <div class="friend__usercard">
                            <div class="friend__usercard-img">
                                <a href="#"><img src="{{ friend.profile.avatar.url }}" title="Username"></a>
                                {% if friend.profile.online %}
                                    <span class="fstate-icon"></span>
                                {% endif %}
                            </div>
                            <div class="friend__usercard-info">
                                <div class="fui__con">
                                    <a href="{{ friend.get_absolute_url }}" class="fui__name">{{ friend.profile.fullname }}</a>
                                    <p>
                                        <small>
                                        {% if not friend.profile.online %}
                                            {{ friend.profile.last_seen|timesince }} ago
                                        {% endif %}
                                        </small>
                                    </p>
                                    <a href="{{ friend.get_absolute_url }}" class="state-info">{{ friend.profile.friends.count }} friends</a>
                                </div>
                            </div>
                        </div>
                        <div class="friend__servbtn">
                            <a href="#" class="fservbtn fsbtn-msg" data-user-id="{{ friend.id }}"><i class="msg-ico"></i> <span class="img-txt">Message</span></a>
                            <a href="#" class="fservbtn fsbtn-unf" data-who-is-friend="user" data-user-id="{{ friend.id }}">
                                <i class="unfriend-ico"></i>
                                <span class="img-txt">Unfriend</span>
                            </a>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% else %}
    <div class="friend-list">
    <div class="friend__list-hd">His/Her friends: {{ user_.profile.friends.count }}</div>
    <div class="friend__list-con">
        {% for friend in user_.profile.friends.all %}
            {% if friend != user_ %}
                <div class="friend">
                    <div class="fcon">
                        <div class="friend__usercard">
                            <div class="friend__usercard-img">
                                <a href="#"><img src="{{ friend.profile.avatar.url }}" title="Username"></a>
                                {% if friend.profile.online %}
                                    <span class="fstate-icon"></span>
                                {% endif %}
                            </div>
                            <div class="friend__usercard-info">
                                <div class="fui__con">
                                    <a href="{{ friend.get_absolute_url }}" class="fui__name">{{ friend.profile.fullname }}</a>
                                    <p>
                                        <small>
                                        {% if not friend.profile.online %}
                                            {{ friend.last_seen|timesince }} ago
                                        {% endif %}
                                        </small>
                                    </p>
                                    <a href="{{ friend.get_absolute_url }}" class="state-info">{{ friend.profile.friends.count }} friends</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
    <script>
        $(function () {

            $('#searchf-country, #searchf-city').dropdown();
            $('.rf-toggle, .sf-toggle').click(function(e) {
                e.preventDefault();
                var target = $($(this).data('target'));
                target.slideToggle(250);
            });

            // unfriend;
            $('body').on('click', '.fservbtn.fsbtn-unf', function() {
                var id = $(this).data('user-id'),
                    cCon = $('.friend__list-hd .fcount');
                if( isNumeric(id) ) {
                    $.ajax({
                        url: '/account/unfriend/',
                        type: 'POST',
                        data: { user_id: id },
                        success: function( response ) {
                            if( response && response.status == 'ok' ) {
                                $('.friend[data-id=' + id + ']').fadeOut(250, function() {
                                    $(this).remove();
                                    cCon.text( response.count );
                                });
                            }
                        },
                        error: function( error ) {
                            console.log( error );
                        }
                    });
                }
            });

            // start chat
            $('body').on('click', '.fservbtn.fsbtn-msg', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var fId = $(this).data('user-id');
                $.ajax({
                    url: window.location.href,
                    type: 'POST',
                    data: 'user1=' + $('#user').val() + '&user2=' + fId,
                    success: function( response ) {
                        console.log( response );
                        if( response.status ) {
                            window.location.href = response.status;
                        }
                    },
                    error: function( response ) {
                        console.log( response );
                    }
                });
            });

            // request action
            $('.rfa__item-servbtn .reqactbtn').click(function(e) {
                e.preventDefault();
                var p = $('#rfa-' + $(this).data('id')),
                    action = $(this).data('action'),
                    url = '';

                if( action == 'confirm' ) {
                    url = '/account/confirm_friend_request/';
                } else if( action == 'ignore' ) {
                    url = '/account/confirm_friend_request/';
                }

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { req_user_id: $(this).data('id'), action: $(this).data('action') },
                    success: function( response ) {
                        console.log(response);
                        if( response ) {
                            console.log(p);
                            if( p && p.length ) {
                                p.fadeOut(100, function() {
                                    $(this).remove();
                                    var cCon = $('.rf-count'),
                                        c = cCon.text();
                                    if( isNumeric(c) ) {
                                        c = +c;
                                        if( c == 0 ) {
                                            c = 0
                                        } else if( c > 0 ) {
                                            c -= 1;
                                        }
                                        cCon.text(c);
                                    }
                                });
                            }

                            if( action == 'confirm' ) {
                                var name = ( response.first_name && response.last_name ) ? response.first_name + ' ' + response.last_name : response.username,
                                    frCon = $('.friend-list'),
                                    str = '<div class="friend" data-id="' + response.id + '">' +
                                                '<div class="fcon">' +
                                                    '<div class="friend__usercard">' +
                                                        '<div class="friend__usercard-img">' +
                                                            '<a href="' + response.url + '"><img src="' + response.profile.avatar + '"></a>' +
                                                        '</div>' +
                                                        '<div class="friend__usercard-info">' +
                                                            '<div class="fui__con">' +
                                                                '<a href="' + response.url + '" class="fui__name">' + name + '</a>' +
                                                                '<p><small></small></p>' +
                                                                '<a href="' + response.url + '" class="state-info">3 friends</a>' +
                                                            '</div>' +
                                                        '</div>' +
                                                    '</div>' +
                                                    '<div class="friend__servbtn">' +
                                                        '<a href="#" class="fservbtn fsbtn-msg" data-user-id="' + response.id + '"><i class="msg-ico"></i> <span class="img-txt">Message</span></a>' +
                                                        '<a href="#" class="fservbtn fsbtn-unf" data-who-is-friend="user" data-user-id="' + response.id + '">' +
                                                            '<i class="unfriend-ico"></i>' +
                                                            '<span class="img-txt">Unfriend</span>' +
                                                        '</a>' +
                                                    '</div>' +
                                                '</div>' +
                                            '</div>';
                                var count = frCon.find('.fcount').text();
                                if( isNumeric(count) ) {
                                    count = +count;
                                    count++;
                                    frCon.find('.fcount').text(count);
                                }
                                frCon.find('.friend__list-con').prepend(str);
                            }
                        }
                    },
                    error: function( response ) {
                        console.log( response )
                    }
                });
            });
        });
    </script>
{% endblock %}