{% extends 'user/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile-gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
{% endblock %}

{% block content %}

    <section class="gallery-section">
        <header>
            <h3 class="section-hd">Gallery(<span class="galitems-count">478</span>)</h3>
        </header>
        <div class="tabsarea">
            <div class="tabsarea-header">
                <div class="tab-links">
                    <a href="#tab-gallery" class="tab-link__item active">Gallery</a>
                    <a href="#tab-albums" class="tab-link__item">Albums</a>
                </div>
            </div>
            <div class="tabsarea-content">
                <div class="tab-content active" id="tab-gallery">
                    <div class="btn-area">
                        <div class="btn-wrapper">
                            <button type="button" data-pid="add-photovideo" data-ptype="photovid" class="modal-trigger ui orange button txt-uppercase">Add photo/video</button>
                        </div>
                    </div>
                    <div class="tab-inner">
                        <div class="row">
                            {% for file in files %}
                                {% if file.image %}
                                    <div class="gal-item col">
                                        <a href="{{ file.image.url }}" data-fbcustom="gal-item" data-type="image" class="media-block media-img" data-id="{{ file.id }}">
                                            <span class="hover-icon"></span>
                                            <span class="edit-btn" data-pid="edit-photovideo" data-ptype="photo" title="Edit item"></span>
                                            <img src="{{ file.image.url }}">
                                        </a>
                                    </div>
                                {% endif %}
                                {% if file.video %}
                                    <div class="gal-item col">
                                        <a href="/_video/video/{{ file.id }}/" data-fbcustom="gal-item" data-type="iframe" class="media-block media-video" data-id="{{ file.id }}">
                                            <span class="hover-icon"></span>
                                            <span class="edit-btn" data-pid="edit-photovideo" data-ptype="vid" title="Edit item"></span>
                                            <img src="{{ file.thumbnail.url }}">
                                        </a>
                                    </div>
                                {% endif %}
                            {% empty %}
                                <div class="ui visible message mlist-empty">
                                  <p>Gallery list is empty!</p>
                                </div>
                            {% endfor %}


    {#                        {% for photo in request.user.new_photos.all %}#}
    {#                            <div class="gal-item col">#}
    {#                                <a href="#" class="media-block media-img">#}
    {#                                    <span class="hover-icon"></span>#}
    {#                                    <span class="edit-btn" data-pid="#edit-photovideo" title="Edit item"></span>#}
    {#                                    <img src="{{ photo.image.url }}">#}
    {#                                </a>#}
    {#                            </div>#}
    {#                        {% endfor %}#}
    {#                        {% for video in request.user.new_videos.all %}#}
    {#                            <div class="gal-item col">#}
    {#                                <a href="#" class="media-block media-video">#}
    {#                                    <span class="hover-icon"></span>#}
    {#                                    <span class="edit-btn" data-pid="#edit-photovideo" title="Edit item"></span>#}
    {#                                    <img src="{{ video.thumbnail.url }}">#}
    {#                                </a>#}
    {#                            </div>#}
    {#                        {% endfor %}#}
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="tab-albums">
                    <div class="btn-area">
                        <div class="btn-wrapper">
                            <button type="button" data-pid="album-create" data-ptype="album" class="modal-trigger ui orange button txt-uppercase">Create album</button>
                        </div>
                    </div>
                    <div class="tab-inner">
                         <div class="row">
                            {% for album in albums %}
                                <div class="gal-item col">
                                    <a href="#" class="gal-detail" data-id="{{ album.id }}">
                                        <div class="media-block media-smash">
                                            <span class="edit-btn" title="Edit album" data-ptype="album" data-pid="album-edit"></span>
                                            <img src="{{ album.album_art.url }}">
                                            <span class="media-count">
                                                <span class="item-count img"><span class="count">{{ album.photo.count }}</span></span>
                                                <span class="item-count video"><span class="count">{{ album.video.count }}</span></span>
                                            </span>
                                        </div>
                                        <div class="media-title">{{ album.name }}</div>
                                    </a>
                                </div>
                            {% empty %}
                                <div class="ui visible message mlist-empty">
                                  <p>Album list is empty!</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="ui modal gal serv-modal" data-title="">
      <div class="header txt-uppercase"><div class="txt"></div><span class="close" data-pid="" title="Close"><i class="remove circle outline icon"></i></span></div>
      <div class="content">
      </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'js/profile-gallery.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script>
        $(function() {

        });
    </script>
{% endblock %}