{% load staticfiles %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find your training</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/hamburgers.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
    <link rel="stylesheet" href=" {% static 'css/media.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/map.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slider-pro.min.css' %}"/>
    <!--[if lt IE 9]>
        <script src="../assets/js/html5shiv.min.js"></script>
        <script src="../assets/js/respond.min.js"></script>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
</head>
<body>
    <input type="hidden" id="current_user_id" value="{{ user_.id }}">
    <input type="hidden" id="user" value="{{ user.id }}">
    <input type="hidden" id="user_" value="{{ user_.id }}">
    <input type="hidden" id="current_user_username" value="{{ request.user.username }}">
    <input type="hidden" id="profile_channel" value="{{ request.user.profile.channel }}">

    <div id="main" class="pad">
        <header class="hd-fixed u-profile">
            <div class="wrapper">
                <div class="up-ls">
                    <div class="up__logo"><a href="/"><img src="{% static 'images/profile/logo.png' %}" title="https://Findyourtraining.com"></a></div>
                    <div class="up__search">
                        <form method="get" action="{% url 'main:user.search' request.user.username %}" id="search-userform">
                            <div class="s-con">
                                <input type="text" id="search-user" name="search" class="f-search" placeholder="Search..." autocomplete="off">
                                <button type="submit" class="btn-s"><i class="search icon"></i></button>
                            </div>
                            <div class="rs-container">
                                <div class="results"></div>
                                <div class="view-all">
                                    <a class="rs-item"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <nav id="menu">
                    <ul class="txt-uppercase">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url "main:user.map" request.user.username %}">Map</a></li>
                        <li><a href="#" class="coming_soon">Competition</a></li>
                        <li><a href="{% url 'main:user.about_project' request.user.username %}">About project</a></li>
                    </ul>
                </nav>
                <div class="lang-auth">
                    <div id="profile-menu">
                        <div class="profile-wind">
                            <a href="#" class="notify notify-off" data-target="#ppnm">
                                <i class="alarm outline icon"></i>
                                <span class="notify-count"></span>
                            </a>
                            <a href="#" id="pm-trigger" data-target="#p-menu">
                                <span class="profile-img">
                                    <img src="{{ request.user.profile.avatar.url }}"
                                   title="{{ request.user.username }}">
                                </span>
                                <span class="profile-uname">{{ request.user.username }}</span>
                            </a>
                        </div>
                        <div id="ppnm" class="ui popup nm" data-state="off">
                            <div class="nm-ul">
                                <div class="nmul-title">
                                    <a href="#" class="mark-asread">Mark all as read</a>
                                    <h4>Notifications</h4>
                                </div>
                                <div class="nmul-inner">
                                    <div class="new sec">
                                        <div class="content"></div>
                                    </div>
                                    <div class="old sec">
                                        <div class="content"></div>
                                    </div>
                                </div>
                                <div class="nmul-ft">
                                    <a href="#" class="all-notif">All</a>
                                </div>
                            </div>
                        </div>
                        <div class="menu" id="p-menu">
                            <a href="{% url 'main:user.feed' request.user.username %}" class="item">Latest news</a>
                            <a href="{% url 'main:user.friends' request.user.username %}" class="item">Friends</a>
                            <a href="{% url 'main:user.trainings' user.username %}" class="item">My trainings</a>
                            <a href="{% url 'main:user.settings' request.user.username %}" class="item">Settings</a>
                            <a href="{% url 'account:logout' %}" class="item logout"><span><i class="sign out icon"></i></span> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="map-sect">
            <div id="map-container">Map...</div>
            <div id="searchtrain-con" class="">
                <div class="st-inner">
                    <div class="st-trigger" data-target="#searchtrain-con"><img src="{% static 'images/rarrow.png' %}" alt="search training"></div>
                    <div class="st-wrapper">
                        <form action="">
                            <div class="chloation-block">
                                <div class="title">Choose <span class="txt-orange">your</span> location</div>
                                <div class="inner">
                                    <div class="chcontrol-btns">
                                        <div class="getmylocation ccl-btn"><button type="button" data-action="getloc" data-target="#tab-getloc" title="Get location"><img src="{% static 'images/target.png' %}" alt="set my location"></button></div>
                                        <div class="selectlocation ccl-btn"><button type="button" data-target="#tab-chooseloc" title="Choose location"><img src="{% static 'images/checkmarks.png' %}" alt="choose location"></button></div>
                                    </div>
                                    <div class="chlocation-value">
                                        <div id="tab-getloc" class="chlvalue-tab active">
                                            <div class="vgr">
                                                <input type="text" class="vgr-value" name="country" value="" placeholder="Country" disabled>
                                            </div>
                                            <div class="vgr">
                                                <input type="text" class="vgr-value" name="city" value="" placeholder="City" disabled>
                                            </div>
                                            <div class="vgr">
                                                <input type="text" class="vgr-value address" name="address" value="" placeholder="Address">
                                            </div>
                                        </div>
                                        <div id="tab-chooseloc" class="chlvalue-tab">
                                            <div class="vgr">
                                                <select class="ui selection dropdown" name="slct-country" data-cat="country" id="sloc-country">
                                                    <option value="">Choose country</option>
                                                </select>
                                            </div>
                                            <div class="vgr">
                                                <select class="ui selection dropdown" name="slct-city" data-cat="city" id="sloc-city">
                                                    <option value="">Choose city</option>
                                                </select>
                                            </div>
                                            <div class="vgr">
                                                <input type="text" class="vgr-value address" name="slct-address" value="" placeholder="Address">
                                            </div>
                                        </div>
                                        <div id="floc-errmsg"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="training-block">
                                <div class="title">Find <span class="txt-orange">your</span> training</div>
                                <div class="inner">
                                    <div class="ingr">
                                        <div class="ingr-inner">
                                            <label for="trainername">Trainer</label>
                                            <input type="text" id="trainername" name="" value="">
                                            <div class="rs-block"></div>
                                        </div>
                                        <span class="note">* Write the name, or select from friends</span>
                                    </div>
                                    <div class="ingr">
                                        <div class="ingr-inner">
                                            <label for="sporthallname">Name of the sport hall</label>
                                            <input type="text" id="sporthallname" name="" value="">
                                            <div class="rs-block"></div>
                                        </div>
                                    </div>
                                    <div class="typeoftrain">
                                        <div class="tot-title">Choose type of training</div>
                                        <div class="ti-wrapper">
                                            <div class="tot-inner">
                                                <div class="training-catlist"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="searchbtn-con"><button type="submit" id="search-btn" class="ui orange button txt-uppercase">Search</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="addloc-tcon"><button type="button" id="addloc-trigger" data-target="#addloccon" class="ui orange button txt-uppercase">Add location</button></div>
            <div id="addloccon" class="addlocation">
                <div class="wrapper">
                    <div class="wclose"><span data-target="#addloccon"><i class="remove icon"></i></span></div>
                    <div class="wnotify">If you don’t find the exact address on our map, you can add your location</div>
                    <div class="newlocation">
                        <form action="">
                            <div id="step1" class="stage active mv-in" data-number="1" data-sprev="" data-snext="#step2">
                                <div class="stage-wrapper">
                                    <div class="stage-hd"><h3>Information about the location</h3></div>
                                    <div class="stage-container">
                                        <div class="input-gr">
                                            <label for="loc-name">Name</label>
                                            <input type="text" class="ingr" id="loc-name" name="loc-name" value="" required>
                                        </div>
                                        <div class="input-gr">
                                            <label for="loc-phone">Phone number</label>
                                            <input type="tel" class="ingr" id="loc-phone" name="loc-phone" value="" required>
                                        </div>
                                        <div class="input-gr">
                                            <label for="loc-email">Email</label>
                                            <input type="email" class="ingr" id="loc-email" name="loc-email" value="" required>
                                        </div>
                                        <div class="input-gr">
                                            <label for="loc-desc">Description</label>
                                            <textarea name="loc-desc" class="ingr ingr-tarea" id="loc-desc" rows="5" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step2" class="stage mv-out" data-number="2" data-sprev="#step1" data-snext="#step3">
                                <div class="stage-wrapper">
                                    <div class="stage-hd"><h3>Enter address of location</h3></div>
                                    <div class="stage-container">
                                        <div class="address">
                                            <div class="input-gr nl-country">
                                                <label>Country</label>
                                                <select class="ui selection dropdown cc" data-cat="country" data-msg=".nl-country" name="country" id="loc-country" required>
                                                    <option value="">Choose country</option>
                                                </select>
                                            </div>
                                            <div class="input-gr nl-city">
                                                <label>City</label>
                                                <select class="ui selection dropdown cc" data-cat="city" data-msg=".nl-city" name="city" id="loc-city" required>
                                                    <option value="">Choose city</option>
                                                </select>
                                            </div>
                                            <div class="input-gr">
                                                <label>Address</label>
                                                <input type="text" class="ingr" id="loc-address" name="loc-address" value="" placeholder="Chehov street">
                                            </div>
                                            <div id="locfind-errmsg"></div>
                                        </div>
                                        <div class="selectgeoloc">
                                            <input type="hidden" name="geodata" id="umarkerGdata" value="" required>
                                            <div class="infographic">
                                                <button type="button" id="getmarker-btn" data-target="#umarkerGdata" class="get-marker">
                                                    <span>Get marker</span>
                                                    <img src="{% static 'images/icon/pointer_rotatewhite.png' %}">
                                                </button>
                                                <div class="infographic-title">Select geolocation:</div>
                                                <div class="infographic-content">
                                                    <div class="ig-step">
                                                        <div class="igstep-title">Step 1.</div>
                                                        <div class="igstep-info"><img src="{% static 'images/map/findloc.png' %}">Find your location</div>
                                                    </div>
                                                    <div class="ig-step align-right">
                                                        <div class="igstep-title">Step 2.</div>
                                                        <div class="igstep-info">Drag your marker and select location<img src="{% static 'images/map/dragpin.png' %}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step3" class="stage mv-out" data-number="3" data-sprev="#step2" data-snext="#step4">
                                <div class="stage-wrapper">
                                    <div class="stage-hd"><h3>Choose type of training:</h3></div>
                                    <div class="stage-container">
                                        <div class="tlist-con">
                                            <div class="training-catlist"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step4" class="stage mv-out" data-number="4" data-sprev="#step3" data-snext="">
                                <div class="stage-wrapper">
                                    <div class="stage-hd"><h3>Add photo</h3></div>
                                    <div class="stage-container">
                                        <div class="dphoto-preview">
                                            <input type="file" id="inputphoto" name="photo" accept="image/*" multiple>
                                            <div class="dphoto__preview-item">
                                                <label for="inputphoto"><i class="plus icon"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <div class="ba-con">
                                    <div class="btn-prevcon btn-con">
                                        <button type="button" class="btn-prev btn-circle" data-current="#step1"><i class="chevron left icon"></i></button>
                                    </div>
                                    <div class="btn-nextcon btn-con active">
                                        <button type="button" class="btn-next btn-circle" data-current="#step1"><i class="chevron right icon"></i></button>
                                    </div>
                                    <div class="btn-submit">
                                        <button type="submit" id="adloc-btn" class="ui orange button txt-uppercase">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="wrapper">
                <div class="ccpy"><p>&copy; 2016 All rights reserved<br/>by Findyourtraining | <a href="#" class="txt-orange">Terms / Privacy</a></p></div>
                <div class="cdev"><p>Developed by <a href="https://osg.uz" class="txt-orange">Online Service Group</a></p></div>
            </div>
        </footer>
    </div>
    <div class="ui popup" id="info-p">
        <div class="header">Info</div>
        <div class="content">The referenced page at the design state...</div>
    </div>

    <div class="ui modal small" id="training-listmodal">
        <div class="header">Training list</div>
        <div class="content">
            <div class="traininglist-con">
                <div class="trlistcon-wrapper">
                    <div class="training-list"></div>
                </div>
            </div>
            <div class="trainingdetail-con">
                <div class="trainingdetail-preloader">
                    <div class="tdpreloader-wrapper">
                        <div class="tdpreloader">
                            <div class="tdpreloader-inner"></div>
                        </div>
                    </div>
                </div>
                <div class="trainingdetail-wrapper"></div>
            </div>
        </div>
          <div class="actions">
              <div class="ui cancel button">Cancel</div>
          </div>
    </div>

    <!-- include jQuery-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
    <script src="{% static 'js/not_developed_pages_popup.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmjXbirjI0iXG_9Kd8OZUGMUEJH_smF-w&callback=initMap"></script>
</body>
</html>