{% extends 'user/base.html' %}
{% load main_tags %}
{% load chat_tags %}
{% load static %}
{% block content %}

<input type="hidden" name="current_user" value="{{ request.user.id }}">
    <div class="chat">
        {% if request.user.profile.friends.count == 0  %}
            <div class="ui large message" style="background-color: #f9f9f9;">
                Sorry, you do not have any friends for chat
            </div>
        {% else %}
            <div class="chat-flist">
                <div class="chat__flist-con">
                <!-- for loop  -->
                    {% for friend in request.user.friends.all %}
                        {% if friend != request.user %}
                            <a href="#" class="friend__usercard inactive" data-user-id="{{ friend.user.id }}"
                             data-room-id="{% get_room_id request.user.id friend.id %}">
                                <div class="friend__usercard-img">
                                    <div class="fuimg-con">
                                        <img src="{{ friend.user.profile.avatar.url }}" title="Username">
                                    </div>
                                    {% if friend.user.profile.online %}
                                        <span class="fstate-icon"></span>
                                    {% endif %}
                                </div>
                                <div class="friend__usercard-info">
                                    <div class="fui__con">
                                        <p class="fui__name">{{ friend.user.username }}</p>
                                        <p class="state-info">{% get_last_message request.user.id friend.user.id %}</p>
                                    </div>
                                </div>
                                <div class="lastmessage-time"><span>14:51</span></div>
                                <span class="unread-msgcount">{% get_unread_messages_count request.user.id friend.user.id %}</span>
                            </a>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                <!-- endfor; -->
                </div>
            </div>
            <input type="hidden" id="req_room" value="{{ room }}">
            <div class="chat-area">
            <div class="chat-pretitle">Please select friend to chat...</div>
            <div class="chat-preloader">
                <div id="circleG">
                    <div id="circleG_1" class="circleG"></div>
                    <div id="circleG_2" class="circleG"></div>
                    <div id="circleG_3" class="circleG"></div>
                </div>
            </div>
            <div class="chat-areamain">
                <div class="msg-display">
                </div>
                <div class="msg-type">
                    <div class="msg__type-con">
                        <form action="{% url 'main:user.messages_h' %}" id="msg-form">
                            <div class="msg__type-area">
                                <textarea name="msg" id="msg" class="autoExpand" data-min-rows="1" rows="1" placeholder="Type message..."></textarea>
                            </div>
                            <div class="msgsend-btn"><button type="button" id="msg-send"><i class="send icon"></i></button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
