{% extends 'user/base.html' %}
{% load static %}
{% load main_tags %}
{% block content %}
{% csrf_token %}

<div class="trainingcon ct-training">
    <div class="trainingcon-hd">
        <a href="#" class="toggler" data-target="#ct-togglecon">
            Create my training
            <span class="toggler-icon active"><i class="angle up icon"></i></span>
        </a>
    </div>
    <div id="ct-togglecon" class="training-togglecon">
        <div class="ct-wrapper">
            <div class="ctstep-form">
                <form action="">
                    <div class="form-wrapper">
                        <div class="ctform-indicator">
                            <ul class="progressbar">
                                <li class="active"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="ctsteplayer-con">
                            <div id="ctstep-con1" class="ctstep-layer active" data-number="1" data-prev="" data-next="#ctstep-con2">
                                <div class="ctslayer-wrapper">
                                    <div class="fieldset">
                                        <div class="fieldset-title">General information</div>
                                        <div class="fieldset-inner">
                                            <div class="input-gr">
                                                <label>Name of training*</label>
                                                <input type="text" class="ctfield" name="training-name" placeholder="Training name" required>
                                            </div>
                                            <div class="input-gr cttraining-type">
                                                <label>Type of training*</label>
                                                <div class="ui fluid selection dropdown ctfield" id="cttraining-type">
                                                    <input type="hidden" name="training-type" data-msg=".cttraining-type">
                                                    <i class="angle down icon"></i>
                                                    <div class="default text">Choose type</div>
                                                    <div class="menu"></div>
                                                </div>
                                            </div>
                                            <div class="input-gr">
                                                <label>Description</label>
                                                <textarea name="training-desc" class="ctfield" rows="6" placeholder="Description of training"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ctstep-con2" class="ctstep-layer" data-number="2" data-prev="#ctstep-con1" data-next="#ctstep-con3">
                                <div class="ctslayer-wrapper">
                                    <div class="fieldset">
                                        <div class="fieldset-title">Add photo</div>
                                        <div class="fieldset-inner">
                                            <div class="photo-preview">
                                                <input type="file" id="ct-inputphoto" name="photo" accept="image/*" multiple="">
                                                <div class="photo__preview-item">
                                                    <label for="ct-inputphoto"><i class="plus icon"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ctstep-con3" class="ctstep-layer" data-number="3" data-prev="#ctstep-con2" data-next="#ctstep-con4">
                                <div class="ctslayer-wrapper">
                                    <div class="fieldset">
                                        <div class="fieldset-title">Choose location</div>
                                        <div class="fieldset-inner">
                                            <div class="input-gr cttraining-locid">
                                                <label>Type location name</label>
                                                <div class="ui input focus">
                                                    <input type="hidden" name="cttraining-locid" data-msg=".cttraining-locid">
                                                    <input type="text" id="ctstep-searchloc" class="ctfield" placeholder="Search..." autocomplete="off">
                                                    <div class="rs-menu"></div>
                                                </div>
                                            </div>
                                            <div class="input-gr">
                                                <div id="ms-map">Loading...</div>
                                            </div>
                                            <div class="input-gr">
                                                <div class="btn-area">
                                                    <button type="button" id="addloc-trigger" class="ui orange button txt-uppercase">Add location</button>
                                                </div>
                                                <div class="note">If you don’t find the exact address on our map, you can add your location</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ctstep-con4" class="ctstep-layer" data-number="4" data-prev="#ctstep-con3" data-next="#ctstep-con5">
                                <div class="ctslayer-wrapper">
                                    <div class="fieldset">
                                        <div class="fieldset-title">Day/Time information</div>
                                        <div class="fieldset-inner">
                                            <div class="input-gr">
                                                <label>Start of training*</label>
                                                <div class="ui calendar" id="ct-tstartdp">
                                                    <div class="ui input left icon">
                                                        <i class="calendar icon"></i>
                                                        <input type="text" class="form-item" name="date" placeholder="Pick date" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cttraining-daytime">
                                                <div class="cttraining-days">
                                                    <div class="title">Training days</div>
                                                    <div class="dayslist">
                                                        <div class="day-item">
                                                            <input type="checkbox" id="ctday1" name="day" class="days-chb" data-chb="1" data-title="Monday">
                                                            <label for="ctday1" class="ctday-item">
                                                                <span class="chb">
                                                                    <span class="span-inner">
                                                                        <span class="square"></span>
                                                                        <i class="check square icon"></i>
                                                                    </span>
                                                                </span>
                                                                Monday
                                                            </label>
                                                        </div>
                                                        <div class="day-item">
                                                            <input type="checkbox" id="ctday2" name="day" class="days-chb" data-chb="2" data-title="Tuesday">
                                                            <label for="ctday2" class="ctday-item">
                                                                <span class="chb">
                                                                    <span class="span-inner">
                                                                        <span class="square"></span>
                                                                        <i class="check square icon"></i>
                                                                    </span>
                                                                </span>
                                                                Tuesday
                                                            </label>
                                                        </div>
                                                        <div class="day-item">
                                                            <input type="checkbox" id="ctday3" name="day" class="days-chb" data-chb="3" data-title="Wednesday">
                                                            <label for="ctday3" class="ctday-item">
                                                                <span class="chb">
                                                                    <span class="span-inner">
                                                                        <span class="square"></span>
                                                                        <i class="check square icon"></i>
                                                                    </span>
                                                                </span>
                                                                Wednesday
                                                            </label>
                                                        </div>
                                                        <div class="day-item">
                                                            <input type="checkbox" id="ctday4" name="day" class="days-chb" data-chb="4" data-title="Thursday">
                                                            <label for="ctday4" class="ctday-item">
                                                                <span class="chb">
                                                                    <span class="span-inner">
                                                                        <span class="square"></span>
                                                                        <i class="check square icon"></i>
                                                                    </span>
                                                                </span>
                                                                Thursday
                                                            </label>
                                                        </div>
                                                        <div class="day-item">
                                                            <input type="checkbox" id="ctday5" name="day" class="days-chb" data-chb="5" data-title="Friday">
                                                            <label for="ctday5" class="ctday-item">
                                                                <span class="chb">
                                                                    <span class="span-inner">
                                                                        <span class="square"></span>
                                                                        <i class="check square icon"></i>
                                                                    </span>
                                                                </span>
                                                                Friday
                                                            </label>
                                                        </div>
                                                        <div class="day-item">
                                                            <input type="checkbox" id="ctday6" name="day" class="days-chb" data-chb="6" data-title="Saturday">
                                                            <label for="ctday6" class="ctday-item">
                                                                <span class="chb">
                                                                    <span class="span-inner">
                                                                        <span class="square"></span>
                                                                        <i class="check square icon"></i>
                                                                    </span>
                                                                </span>
                                                                Saturday
                                                            </label>
                                                        </div>
                                                        <div class="day-item">
                                                            <input type="checkbox" id="ctday7" name="day" class="days-chb" data-chb="7" data-title="Sunday">
                                                            <label for="ctday7" class="ctday-item">
                                                                <span class="chb">
                                                                    <span class="span-inner">
                                                                        <span class="square"></span>
                                                                        <i class="check square icon"></i>
                                                                    </span>
                                                                </span>
                                                                Sunday
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cttraining-times"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ctstep-con5" class="ctstep-layer" data-number="5" data-prev="#ctstep-con4" data-next="#ctstep-con6">
                                <div class="ctslayer-wrapper">
                                    <div class="fieldset">
                                        <div class="fieldset-title">Create tariff plan</div>
                                        <div class="fieldset-inner">
                                            <div class="row tplan" data-index="1">
                                                <div class="col col04 pdr10 field-blck">
                                                    <label>Duration*</label>
                                                    <div class="col-wrapper">
                                                        <div class="input-gr">
                                                            <input type="text" class="ctfield" name="training-planduration1" data-title="training-planduration" placeholder="2" required>
                                                        </div>
                                                        <div class="input-gr">
                                                            <select class="ui dropdown ctfield" name="measure1" data-title="measure">
                                                                <option value="">time</option>
                                                                <option value="hour">hour</option>
                                                                <option value="day">day</option>
                                                                <option value="week">week</option>
                                                                <option value="month">month</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col06 pdl10 field-blck">
                                                    <div class="col-wrapper">
                                                        <div class="input-gr">
                                                            <label>Price*</label>
                                                            <input type="text" class="ctfield" name="training-planprice1" data-title="training-planprice" placeholder="Tariff plan price" required>
                                                        </div>
                                                        <div class="input-gr">
                                                            <label>Currency</label>
                                                            <select class="ui dropdown ctfield" name="currency1" data-title="currency">
                                                                <option value="">Choose currency</option>
                                                                <option value="aed">AED</option>
                                                                <option value="usd">USD</option>
                                                                <option value="rub">RUB</option>
                                                                <option value="eur">EUR</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="addtrigger">
                                                <a href="#">Add one more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ctstep-con6" class="ctstep-layer" data-number="6" data-prev="#ctstep-con5" data-next="#ctstep-con7">
                                <div class="ctslayer-wrapper">
                                    <div class="fieldset">
                                        <div class="fieldset-title">Trainer info</div>
                                        <div class="trainerinfo-msg"></div>
                                        <div class="fieldset-inner">
                                            <div class="fi-wrapper">
                                                <div class="input-gr">
                                                    <label>Search on this system</label>
                                                    <div class="ui input focus">
                                                        <input type="hidden" name="cttraining-userid">
                                                        <input type="text" id="ctstep-searchuser" class="ctfield" placeholder="Search..." autocomplete="off">
                                                        <div class="rs-menu"></div>
                                                    </div>
                                                </div>
                                                <div class="ui horizontal divider">Or</div>
                                                <div class="create-trainer" id="ct-trainerform">
                                                    <div class="row">
                                                        <div class="col col06 contact-info">
                                                            <div class="input-gr">
                                                                <label>Trainer Name*</label>
                                                                <input type="text" class="ctfield manual-info" name="trainer-name" placeholder="Trainer name" required>
                                                            </div>
                                                            <div class="input-gr">
                                                                <label>Trainer Email*</label>
                                                                <input type="email" class="ctfield manual-info" name="trainer-email" placeholder="Trainer email" required>
                                                            </div>
                                                            <div class="input-gr">
                                                                <label>Trainer Phone*</label>
                                                                <input type="tel" class="ctfield manual-info" name="trainer-phone" placeholder="Trainer phone" required>
                                                            </div>
                                                        </div>
                                                        <div class="col col04 photo tmsg-con">
                                                            <label>Add trainer photo</label>
                                                            <div class="trainer-photo">
                                                                <label for="cttrainer-inputphoto"><i class="plus icon"></i></label>
                                                                <input type="file" id="cttrainer-inputphoto" class="manual-info" data-msg=".tmsg-con" name="trainer-photo" accept="image/*" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="input-gr">
                                                        <label>About trainer</label>
                                                        <textarea name="trainer-about" class="ctfield" rows="6" placeholder="A few words about trainer"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ctstep-con7" class="ctstep-layer" data-number="7" data-prev="#ctstep-con6" data-next="">
                                <div class="ctslayer-wrapper">
                                    <div class="fieldset">
                                        <div class="fieldset-title">Invation for friends</div>
                                        <div class="fieldset-inner">
                                            <div class="selectionblocks-wrapper">
                                                <div class="selection-block selected" id="sb-selected">
                                                    <div class="slctblock-title">Selected friends</div>
                                                    <div class="slct-menu">
                                                        <input type="hidden" name="invslcted">
                                                        <div class="menu" data-pid="sb-selected"></div>
                                                    </div>
                                                </div>
                                                <div class="slctblock-delimiter">
                                                    <div class="sdelimiter-inner">
                                                        <div class="btn-gr">
                                                            <button type="button" class="ui button" data-action="all-left"><i class="angle double left icon"></i></button>
                                                            <button type="button" class="ui button" data-action="sclt-left"><i class="angle left icon"></i></button>
                                                            <button type="button" class="ui button" data-action="sclt-right"><i class="angle right icon"></i></button>
                                                            <button type="button" class="ui button" data-action="all-right"><i class="angle double right icon"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="selection-block all" id="sb-all">
                                                    <div class="slctblock-title">All friends</div>
                                                    <div class="slct-menu">
                                                        <input type="hidden" name="allslct">
                                                        <div class="menu" data-pid="sb-all"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ctbtn-area">
                            <button type="button" id="ctbtn-prev" class="ui grey button txt-uppercase" data-current="#ctstep-con1">Previous</button>
                            <button type="button" id="ctbtn-next" class="ui orange button txt-uppercase active" data-current="#ctstep-con1">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="trainingcon req-training">
    <div class="trainingcon-hd">
        <a href="#" class="toggler" data-target="#req-togglecon">
            Friends offer training span(<span class="allreqtraining-count">{{ requested_trainings.count }}</span>)
            <span style="display: none;" class="newreqtraining-count">+2</span>
            <span class="toggler-icon"><i class="angle down icon"></i></span>
        </a>
    </div>
    <div id="req-togglecon" class="training-togglecon">
        <div class="reqlist-con">
            {% for training in requested_trainings %}
                <div class="reqlistcon-item" id="reqitem-0">
                    <div class="reqlistcon__item-hd">
                        <div class="invation-autor">
                            <span class="invation__autor-title">Invation from: </span>
                            <a href="#" class="invation__author-con">
                                <span class="invation__author-img"><img src="{{ training.sender.profile.avatar.url }}" alt="Jack Williams"></span>
                                <span class="invation__author-name">{{ training.sender.profile.fullname }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="reqlistcon__item-b">
                        <div class="float-wrapper">
                            <div class="itemtrainer-con">
                                <a href="{% if training.training.get_user %}{{ training.training.get_user.get_absolute_url }}{% endif %}" class="item-trainer" title="Visit to trainer page">
                                    <div class="itemtrainer__img">
                                        <span class="itemtrainer-avatar"><img src="{{ training.training.trainer_image.url }}" alt="Mr. Anderson" title="Mr. Anderson"></span>
                                        {% if training.training.get_user %}
                                            {% if training.training.get_user.profile.online %}
                                                <span class="fstate-icon"></span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="itemtrainer__name">{% if training.training.get_user %}{{ training.training.get_user.profile.fullname }}{% else %}{{ training.training.trainer_name }}{% endif %}</div>
                                </a>
                                <div class="trainercontact-info">
                                    <div class="tc__info-item">
                                        <span>Email: </span>
                                        <a href="#">{{ training.training.email }}</a>
                                    </div>
                                    <div class="tc__info-item">
                                        <span>Phone: </span>
                                        <a href="#">{{ training.training.phone }}</a>
                                    </div>
                                    <div class="tc__info-item">
                                        <span>About: </span>
                                        <p>{{ training.training.trainer_description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-training">
                                <div class="itemtraining-type">
                                    <span class="itemttype-icon"><img src="{{ training.training.types.icon.url }}" alt="GYM" title="GYM"></span>
                                    <span class="itemttype-title">{{ training.training.types.name }}</span>
                                </div>
                                <div class="titem__name">
                                    <span class="txt-orange">Name of training</span>
                                    <div class="titem__name-txt txt-uppercase">{{ training.training.name }}</div>
                                </div>
                                <div class="titeminfo-grid">
                                    <div class="titeminfo__grid-col">
                                        <div class="tgridcol-content address" data-location="{{ training.training.arena.latitude }},{{ training.training.arena.longitude }}" data-icon="{{ training.training.arena.type.first.icon.url }}">
                                            <img src="{% static 'images/map-marker.png' %}" alt="Address">
                                            <span class="loc-name">{{ training.training.arena.name }}</span>
                                        </div>
                                    </div>
                                    <div class="titeminfo__grid-col">
                                        <div class="tgridcol-content price">
                                            <img src="{% static 'images/notify-marker.png' %}" alt="Price">
                                            <span>{{ training.training.price }}</span>
                                        </div>
                                        <div class="training-price" data-title="Price of training">
                                            <div class="training-scltprice">
                                                <div class="trainingprice-title">Price:</div>
                                                <table class="ui fixed celled table">
                                                    <thead>
                                                        <tr>
                                                            <th>Duration</th>
                                                            <th>Cost</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1 day</td>
                                                            <td>10$</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1 week</td>
                                                            <td>30$</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1 month</td>
                                                            <td>100$</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3 month</td>
                                                            <td>200$</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6 month</td>
                                                            <td>300$</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1 year</td>
                                                            <td>500$</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="titeminfo__grid-col">
                                        <div class="tgridcol-content daytime">
                                            <img src="{% static 'images/hour-marker.png' %}" alt="Time">
                                            <span>
                                                {% for day in training.training.days.all %}
                                                    {{ day|truncatechars:6 }}
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div class="training-daytime" data-title="Days of training">
                                            <div class="training-slctdays">
                                                <div class="trainingdays-title">Time:</div>
                                                <table class="ui fixed celled table">
                                                    <thead>
                                                        <tr>
                                                            <th>Day</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Monday</td>
                                                            <td>10:00 - 12:00<br/>14:00 - 16:00<br/>17:30 - 19:30</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tuesday</td>
                                                            <td>9:00 - 11:00<br/>13:00 - 15:00<br/>16:00 - 18:00<br/>19:00 - 21:00</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Wednesday</td>
                                                            <td>10:00 - 12:00<br/>14:00 - 16:00<br/>17:30 - 19:30</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Thursday</td>
                                                            <td>10:00 - 12:00<br/>14:00 - 16:00<br/>17:30 - 19:30</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Friday</td>
                                                            <td>9:00 - 11:00<br/>13:00 - 15:00<br/>16:00 - 18:00<br/>19:00 - 21:00</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Saturday</td>
                                                            <td>11:00 - 13:00<br/>15:00 - 17:00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="titeminfo__grid-col">
                                        <div class="tgridcol-content participants">
                                            <img src="{% static 'images/friend-marker.png' %}" alt="Participants">
                                            <span>Participants {{ training.training.members.count }} persons</span>
                                        </div>
                                        <div class="ui special popup user-selection">
                                            {% for member in training.training.members.all %}
                                                <div class="us-wrapper">
                                                    <a href="#" class="us-item">
                                                        <div class="us__item-img">
                                                            <span class="usitem-imgcon"><img src="{{ member.profile.avatar.url }}" alt="user1" title="user1"></span>
                                                            {% if member.profile.online %}
                                                                <span class="fstate-icon"></span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="us__item__content">
                                                            <div class="usitem__content-hd">{{ member.profile.fullname }}</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="titeminfo__grid-col">
                                        <div class="tgridcol-content images" data-target=".tattached-images">
                                            <img src="{% static 'images/picture.png' %}" alt="Images">
                                            <span>See attached pictures</span>
                                        </div>
                                        <div class="tattached-images">
                                        {# if attached image count == 1 #}
{#                                            <div class="attachedimg-present" data-action="prew" id="reqtlist-attachedImg">#}
{#                                                <img src="/static/images/map/slider/slider-demo1.jpg">#}
{#                                            </div>#}
                                        {# else if attatech image count > 1 #}
{#                                            <div class="slider-pro" data-action="sl-prew" id="reqtlist-attachedImg">#}
{#                                                <div class="sp-slides">#}
{#                                                    <div class="sp-slide">#}
{#                                                        <img src="/static/images/map/slider/slider-demo1.jpg" class="sp-image lid">#}
{#                                                    </div>#}
{#                                                    <div class="sp-slide">#}
{#                                                        <img src="/static/images/map/slider/slider-demo2.jpg" class="sp-image lid">#}
{#                                                    </div>#}
{#                                                    <div class="sp-slide">#}
{#                                                        <img src="/static/images/map/slider/slider-demo3.jpg" class="sp-image lid">#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="sp-thumbnails">#}
{#                                                    <div class="sp-thumbnail">#}
{#                                                        <img src="/static/images/map/slider/slider-demo1.jpg" class="sp-thumbnail-image lid">#}
{#                                                    </div>#}
{#                                                    <div class="sp-thumbnail">#}
{#                                                        <img src="/static/images/map/slider/slider-demo1.jpg" class="sp-thumbnail-image lid">#}
{#                                                    </div>#}
{#                                                    <div class="sp-thumbnail">#}
{#                                                        <img src="/static/images/map/slider/slider-demo1.jpg" class="sp-thumbnail-image lid">#}
{#                                                    </div>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="titem-desc">
                                    <div class="titem__desc-title">Description of training</div>
                                    <div class="titem__desc-txt">
                                        {{ training.training.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="itemtraining-btn">
                            <button type="button" class="ui orange button txt-uppercase reqtraining-have" data-pid="#reqitem-0">Have workout</button>
                            <button type="button" data-target="#reqitem-0" class="ui grey button txt-uppercase reqtraining-delete">Delete request</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="mytraining-list">
    <div class="mytlistcon-hd">
        <div class="mytlistcon__hd-title">My trainings (<span>{{ trainings.count }}</span>)</div>
        <div class="mytlistcon__hd-sort">
            <span>Sort by: </span>
            <button type="button" id="mytlist-sortbydate" data-sort="desc" class="ui grey button">Date <i class="toggle down icon"></i></button>
            <div class="ui fluid selection dropdown mytlist__sort-type">
                <input type="hidden" name="training-type">
                <i class="angle down icon"></i>
                <div class="default text">Choose type</div>
                <div class="menu"></div>
            </div>
        </div>
    </div>
    <div class="mytlist-con">
        {% for training in trainings %}
            <div class="mytlistcon-item" id="mylistid-{{ training.id }}">
                <div class="mytlistcon__item-hd">
                    <div class="titem__type">
                        <span class="titype-img"><img src="{{ training.types.icon.url }}"></span>
                        <span class="titem__type-txt">{{ training.types.name }}</span>
                    </div>
                    <div class="titem__trainer">
                        <span class="titem__trainer-title txt-orange">Trainer:</span>
                        <div class="titem__trainer-con">
                            <span class="titrainer-img"><img src="{{ training.trainer_image.url }}" title="{% if training.training.get_user %}{{ training.training.get_user.profile.fullname }}{% else %}{{ training.training.trainer_name }}{% endif %}"></span>
                            <span class="titem_-trainer-name">{% if training.get_user %}{{ training.get_user.profile.fullname }}{% else %}{{ training.trainer_name }}{% endif %}</span>
                        </div>
                        <div class="trainer-info ui special popup">
                            <div class="trainerinfo-item">
                                <span>E-mail:</span>
                                <a href="mailto:{{ training.email }}">{{ training.email }}</a>
                            </div>
                            <div class="trainerinfo-item">
                                <span>Phone:</span>
                                <a href="tel:{{ training.phone }}">{{ training.phone }}</a>
                            </div>
                            <div class="trainerinfo-item">
                                <span>About:</span>
                                <div class="tabout-txt">{{ training.trainer_description }}</div>
                            </div>
                            {% if training.get_user %}
                                <div class="trainerinfo-item">
                                    <a href="{{ training.get_user.get_absolute_url }}">Visit to trainer page</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="mytlistcon__item-b">
                    <div class="titem-info">
                        <div class="titeminfo-left">
                            <div class="titem__name">
                                <span>Name of training</span>
                                <div class="titem__name-txt txt-uppercase">{{ training.name }}</div>
                            </div>
                            <div class="titeminfo-grid">
                                <div class="titeminfo__grid-col">
                                    <div class="tgridcol-content address" data-location="{{ training.arena.latitude }},{{ training.arena.longitude }}" data-icon="{{ training.arena.types.first.icon.url }}">
                                        <img src="{% static "images/map-marker.png" %}">
                                        <span class="loc-name">{{ training.arena.name }}</span>
                                    </div>
                                </div>
                                <div class="titeminfo__grid-col">
                                    <div class="tgridcol-content price">
                                        <img src="{% static 'images/notify-marker.png' %}" alt="Price">
                                        <span>Plan</span>
                                    </div>
                                    <div class="training-price" data-title="Price of training">
                                        <div class="training-scltprice">
                                            <div class="trainingprice-title txt-orange">My tariff:</div>
                                            <div class="trainingprice-txt">{{ training.price.first.duration }} {{ training.price.first.price }} {{ training.price.first.currency }}</div>
                                        </div>
                                        <div class="training-scltprice">
                                            <div class="trainingprice-title">Aviable:</div>
                                            <table class="ui fixed celled table">
                                                <thead>
                                                    <tr>
                                                        <th>Duration</th>
                                                        <th>Cost</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for tp in training.price.all %}
                                                        <tr>
                                                            <td>{{ tp.duration }}</td>
                                                            <td>{{ tp.price }} {{ tp.currency }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="titeminfo__grid-col">
                                    <div class="tgridcol-content daytime">
                                        <img src="{% static 'images/hour-marker.png' %}" alt="Time">
                                        <span>Days</span>
                                    </div>
                                    <div class="training-daytime" data-title="Days of training">
                                        <div class="training-slctdays">
                                            <div class="trainingdays-title txt-orange">My days:</div>
                                            <table class="ui fixed celled table">
                                                <thead>
                                                    <tr>
                                                        <th>Day</th>
                                                        <th>Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if request.user in training.members.all %}
                                                            {% for usertime in training.users_time.all %}
                                                                {% if usertime in request.user.training_time.all %}
                                                                    <tr>
                                                                        <td>{{ usertime.time.day }}</td>
                                                                        <td>{{ usertime.time.time }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                    {% endif %}
{#                                                    {% for day in training.time.all %}#}
{#                                                        <tr>#}
{#                                                            <td>{{ day.day }}</td>#}
{#                                                            <td>{{ request.user.training_time.all }}</td>#}
{#                                                        </tr>#}
{#                                                    {% endfor %}#}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="training-slctdays">
                                                <div class="trainingdays-title">Aviable:</div>
                                                <table class="ui fixed celled table">
                                                    <thead>
                                                        <tr>
                                                            <th>Day</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for time in training.time.all %}
                                                            <tr>
                                                                <td>{{ time.day.name }}</td>
                                                                <td>{{ time.time }}</td>
                                                            </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                </div>
                                <div class="titeminfo__grid-col">
                                    <div class="tgridcol-content participants">
                                        <img src="{% static 'images/friend-marker.png' %}" alt="Participants">
                                        <span>Participants {{ training.members.count }} persons</span>
                                    </div>
                                    <div class="ui special popup user-selection">
                                        <div class="us-wrapper">
                                            {% for user in training.members.all %}
                                                <a href="#" class="us-item">
                                                    <div class="us__item-img">
                                                        <span class="usitem-imgcon"><img src="{{ user.profile.avatar.url }}" alt="user1" title="user1"></span>
                                                        <span class="fstate-icon"></span>
                                                    </div>
                                                    <div class="us__item__content">
                                                        <div class="usitem__content-hd">{% if user.get_full_name %}
                                                            {{ user.get_full_name }}
                                                            {% else %}
                                                            {{ user.username }}
                                                        {% endif %}</div>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="titeminfo__grid-col">
                                    <div class="tgridcol-content images" data-target=".tattached-images">
                                        <img src="/static/images/picture.png" alt="Attached images">
                                        <span>See attached pictures</span>
                                    </div>
                                    <div class="tattached-images">
                                    {% if training.images.count == 1 %}
                                        <div class="attachedimg-present" data-action="prew" id="mytlist-attachedImg">
                                            <img src="/static/images/map/slider/slider-demo1.jpg">
                                        </div>
                                    {% elif training.images.count > 1 %}
                                        <div class="slider-pro" data-action="sl-prew" id="mytlist-attachedImg">
                                            <div class="sp-slides">
                                                {% for image in training.images.all %}
                                                    <div class="sp-slide">
                                                        <img src="{{ image.image.url }}" class="sp-image lid">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="sp-thumbnails">
                                                {% for image in training.images.all %}
                                                    <div class="sp-thumbnail">
                                                        <img src="{{ image.image.url }}" class="sp-thumbnail-image lid">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="titeminfo-right">
                            <button type="button" data-target="#mylistid-{{ training.id }}" data-pid="{{ training.id }}" class="ui grey button txt-uppercase delete-mytraining">Delete training</button>
                        </div>
                    </div>
                    <div class="titem-desc">
                        <div class="titem__desc-title">Description of training</div>
                        <div class="titem__desc-txt">
                            {{ training.description }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



{# Have workout modal #}
<div class="ui modal tiny training-have">
    <div class="header txt-uppercase">Have workout</div>
    <div class="content">
        <div class="stepcontent">
            <div class="step-wrapper">
                <div class="step active col3" data-ref="#step-con1">
                    <div class="step-hd">
                        <span class="stephd-icon"><i class="address card icon"></i></span>
                        <span class="stephd-title">Contact info</span>
                    </div>
                    <div class="step-content">
                        <div class="desc">Enter your contact info</div>
                    </div>
                </div>
                <div class="step disabled col3" data-ref="#step-con2">
                    <div class="step-hd">
                        <span class="stephd-icon"><i class="dollar icon"></i></span>
                        <span class="stephd-title">Price</span>
                    </div>
                    <div class="step-content">
                        <div class="desc">Choose your plan</div>
                    </div>
                </div>
                <div class="step disabled col3" data-ref="#step-con3">
                    <div class="step-hd">
                        <span class="stephd-icon"><i class="calendar icon"></i></span>
                        <span class="stephd-title">Training days</span>
                    </div>
                    <div class="step-content">
                        <div class="desc">Choose training days</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-form">
            <form action="">
                <div class="form-wrapper">
                    <div class="steplayer-con">
                        <div id="step-con1" class="step-layer mv-in active" data-prev="" data-next="#step-con2">
                            <div class="slayer-wrapper">
                                <div class="fieldset">
                                    <div class="fieldset-title">Enter your contact info</div>
                                    <div class="fieldset-inner">
                                        <div class="input-gr">
                                            <label>Name</label>
                                            <input type="text" class="form-item" name="flname" value="Hoang Nguten" placeholder="Type your name" required>
                                        </div>
                                        <div class="input-gr">
                                            <label>Email</label>
                                            <input type="email" class="form-item" name="email" value="hoang@gmail.com" placeholder="Type your email" required>
                                        </div>
                                        <div class="input-gr">
                                            <label>Phone</label>
                                            <input type="tel" class="form-item" name="phone" value="+956 565 6565" placeholder="Type your phone" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-con2" class="step-layer mv-out" data-prev="#step-con1" data-next="#step-con3">
                            <div class="slayer-wrapper">
                                <div class="fieldset">
                                    <div class="fieldset-title">Choose your plan</div>
                                    <div class="fieldset-inner">
                                        <div class="fld">
                                            <input type="radio" id="rb1" name="plan" value="10" tabindex="0" class="hidden">
                                            <label for="rb1">
                                                <h3 class="title">10<span class="currency">$</span></h3>
                                                <p>1 Day</p>
                                            </label>
                                        </div>
                                        <div class="fld">
                                            <input type="radio" id="rb2" name="plan" value="30" tabindex="0" class="hidden">
                                            <label for="rb2">
                                                <h3 class="title">30<span class="currency">$</span></h3>
                                                <p>1 Week</p>
                                            </label>
                                        </div>
                                        <div class="fld">
                                            <input type="radio" id="rb3" name="plan" value="100" tabindex="0" class="hidden">
                                            <label for="rb3">
                                                <h3 class="title">100<span class="currency">$</span></h3>
                                                <p>1 Month</p>
                                            </label>
                                        </div>
                                        <div class="fld">
                                            <input type="radio" id="rb4" name="plan" value="200" tabindex="0" class="hidden">
                                            <label for="rb4">
                                                <h3 class="title">200<span class="currency">$</span></h3>
                                                <p>3 Month</p>
                                            </label>
                                        </div>
                                        <div class="fld">
                                            <input type="radio" id="rb5" name="plan" value="300" tabindex="0" class="hidden">
                                            <label for="rb5">
                                                <h3 class="title">300<span class="currency">$</span></h3>
                                                <p>6 Month</p>
                                            </label>
                                        </div>
                                        <div class="fld">
                                        <input type="radio" id="rb6" name="plan" value="500" tabindex="0" class="hidden">
                                        <label for="rb6">
                                            <h3 class="title">500<span class="currency">$</span></h3>
                                            <p>1 Year</p>
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-con3" class="step-layer mv-out" data-prev="#step-con2" data-next="">
                            <div class="slayer-wrapper">
                                <div class="fieldset w100">
                                    <div class="fieldset-title">Choose your training days</div>
                                    <div class="fieldset-inner">
                                        <div class="input-gr">
                                            <label>Start of training</label>
{#                                            <input type="text" id="tstart-dp" class="form-item" name="date" placeholder="Pick date" required>#}
                                            <div class="ui calendar" id="tstart-dp">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" class="form-item" name="date" placeholder="Pick date" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-gr">
                                            <label>Training days</label>
                                            <select name="days" id="myselect" multiple="" class="ui fluid dropdown">
                                                <option value="">Training days</option>
                                                <option value="mon">Monday</option>
                                                <option value="tues">Tuesday</option>
                                                <option value="wed">Wednesday</option>
                                                <option value="thurs">Thursday</option>
                                                <option value="fri">Friday</option>
                                                <option value="sat">Saturday</option>
                                                <option value="sun">Sunday</option>
                                            </select>
                                        </div>
                                        <div class="input-gr" id="timechoose-sec">
                                            <div class="time-selects"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <button type="button" id="rhw-prev" class="ui grey button txt-uppercase prev" data-current="#step-con1">Previous</button>
        <button type="button" id="rhw-next" class="ui orange button txt-uppercase next active" data-current="#step-con1">Next</button>
        <button type="submit" id="qweSend">Send</button>
    </div>
</div>
<div class="ui modal tiny training">
    <div class="header"></div>
    <div class="content"></div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
    </div>
</div>
<div class="ui modal small training-location">
    <div class="header">Location of training</div>
    <div class="content">
        <div id="map"></div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
    </div>
</div>
<div class="ui basic large modal img-reviewer">
    <div class="content"></div>
</div>
<div class="ui modal large new-loc">
    <div class="header">Add new location</div>
    <div class="content">
        <div class="cttraining-addlocation">
            <div class="form-wrapper">
                <form action="">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="field-col col1">
                                    <div class="field">
                                        <input type="text" name="newloc-name" class="field-item" placeholder="Name" required>
                                    </div>
                                    <div class="field">
                                        <input type="tel" name="newloc-phone" class="field-item" placeholder="Phone" required>
                                    </div>
                                    <div class="field">
                                        <input type="email" name="newloc-email" class="field-item" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="field-col col1">
                                    <div class="field">
                                        <textarea name="newloc-desc" rows="5" class="field-item" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="field-col">
                                    <div class="field nlslct-country">
                                        <select class="ui selection dropdown addnewloc-select" data-cat="country" data-msg=".nlslct-country" name="country" id="addnewloc-country" required>
                                            <option value="">Choose country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-col">
                                    <div class="field nlslct-city">
                                        <select class="ui selection dropdown addnewloc-select" data-cat="city" data-msg=".nlslct-city" name="city" id="addnewloc-city" required>
                                            <option value="">Choose city</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-col col1">
                                    <div class="field">
                                        <input type="text" name="newloc-address" class="field-item" placeholder="Address">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div id="addloc-map"></div>
                            <div class="row addr-geoloc">
                                <input type="hidden" name="ct-addnewloc" data-msg=".addr-geoloc" required>
                                <button type="button" id="getmarker-btn" class="get-marker">
                                    <span>Get marker</span>
                                    <img src="{% static 'images/icon/pointer_rotatewhite.png' %}">
                                </button>
                                <div class="btn-title">Select gelocation:</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="sport-type">
                                <div class="title">
                                    Choose training types
                                </div>
                                <div class="ttouter">
                                    <div class="typecon">
                                        <div class="typelist"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="loc-photo">
                                <div class="title">Add location photo</div>
                                <div class="pc-outer">
                                    <div class="photo-con">
                                        <div class="photocon-inner">
                                            <input type="file" id="ctnewloc-inputphoto" name="photo" accept="image/*" multiple="">
                                            <div class="locp-pitem">
                                                <label for="ctnewloc-inputphoto"><i class="plus icon"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div class="ui positive orange button">Add location</div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/mytrainings.js' %}"></script>
    <script src="{% static 'js/calendar.min.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmjXbirjI0iXG_9Kd8OZUGMUEJH_smF-w&callback=initializeMap"></script>
{% endblock %}