{% extends 'user/base.html' %}
{% load static %}
{% load main_tags %}
{% block content %}
{#<ul>#}
{##}
{#            <li>#}
{#                <a href="{{ u.get_absolute_url }}">{% if u.first_name and u.last_name %}#}
{#                    {{ u.first_name }} {{ u.last_name }}#}
{#                    {% else %}#}
{#                    {{ u.username }}#}
{#                {% endif %}</a>#}
{#            </li>#}
{##}
{#    {% empty %}#}
{#        <li>No results!</li>#}
{#</ul>#}
{#<div class="friend-list">#}
{#    <div class="friend__list-hd">My friend({{ friends.count }})</div>#}
{#    <div class="friend__list-con">#}
{#{% for user in users %}#}
{#{% for u in user %}#}
{#    <div class="friend">#}
{#        <div class="fcon">#}
{#            <div class="friend__usercard">#}
{#                <div class="friend__usercard-img">#}
{#                    <a href="{{ u.get_absolute_url }}">#}
{#                        <img src="{% if u.profile.avatar %}#}
{#                                        {{ friend.user.profile.avatar.url }}#}
{#                                        {% else %}#}
{#                                        {% static 'images/profile/no_photo_male.png' %}#}
{#                                        {% endif %}"#}
{#                                     title="rasm">#}
{#                    </a>#}
{#                    {% if u.profile.is_online %}#}
{#                        <span class="fstate-icon"></span>#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="friend__usercard-info">#}
{#                    <div class="fui__con">#}
{#                        <a href="{{ u.get_absolute_url }}" class="fui__name">{{ friend.user.username }}</a>#}
{#                        <a href="#" class="state-info">{% friends_count friend.user %} friends</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="friend__servbtn">#}
{#                <a href="#" class="fservbtn fsbtn-msg"><i class="msg-ico"></i> Message</a>#}
{#                <a href="#" class="fservbtn fsbtn-unf" data-role="user" data-user-id="{{ friend.user.id }}">#}
{#                    <i class="unfriend-ico"></i> Unfriend</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{#{% endfor %}#}
{#{% endfor %}#}

    <div class="friend-list">
    <div class="friend__list-hd">Results: {{ count }}</div>
    <div class="friend__list-con">
        {% for user in users %}
            {% for u in user %}
                <div class="friend">
                    <div class="fcon">
                        <div class="friend__usercard">
                            <div class="friend__usercard-img">
                                <a href="{{ u.get_absolute_url }}">
                                    <img src="{% if u.profile.avatar %}
                                                    {{ u.profile.avatar.url }}
                                                    {% else %}
                                                    {% static 'images/profile/no_photo_male.png' %}
                                                    {% endif %}"
                                                 title="Username"></a>
                                {% if u.profile.is_online %}
                                    <span class="fstate-icon"></span>
                                {% endif %}
                            </div>
                            <div class="friend__usercard-info">
                                <div class="fui__con">
                                    <a href="{{ u.get_absolute_url }}" class="fui__name">{{ u.username }}</a>
                                    <a href="#" class="state-info">{% friends_count u %} friends</a>
                                </div>
                            </div>
                        </div>
                        <div class="friend__servbtn">
                            <a href="#" class="fservbtn fsbtn-msg"><i class="msg-ico"></i> Message</a>
                            <a href="#" class="fservbtn fsbtn-unf" data-role="user" data-user-id="{{ u.id }}">
                                <i class="unfriend-ico"></i> Unfriend</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% empty %}
            no
        {% endfor %}
    </div>
</div>


{% endblock %}