{% extends 'user/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile-settings.css' %}"/>
{% endblock %}

{% block content %}
    {#  s - settings, u - update  #}
    <div class="psettings">
        <h4>My profile</h4>
        <div class="psettings-con">
            <div class="psettings-tabs">
                <ul>
                    <li><a href="#" data-target="#pset-general" class="active">General</a></li>
                    <li><a href="#" data-target="#pset-privacy">Privacy</a></li>
                    <li><a href="#" data-target="#pset-notification">Notification</a></li>
                    <li><a href="#" data-target="#pset-blcomp">Blacklist and complaint</a></li>
                </ul>
            </div>
            <div class="psettings-tabcontainers">
                <div id="pset-general" class="tab-con state-active">
                    <div class="pset__tabcon-hd"><h4>General</h4></div>
                    <div class="pset__tabcon-wrapper">
                        <form action="" method="POST" id="profileUpdateForm">
                            {% csrf_token %}
                            <div class="pset-block">
                                <div class="s-row">
                                    <div class="s__row-title">Profile settings</div>
                                    <div class="s__row-content">
                                        <div class="form-gr">
                                            <input type="checkbox" id="set-genchb1" name="show_only_my_post_by_default" value="">
                                            <label for="set-genchb1">
                                                <span class="chb">
                                                    <span class="span-inner">
                                                        <span class="square"></span>
                                                        <i class="check square icon"></i>
                                                    </span>
                                                </span>
                                                Show only my post by default
                                            </label>
                                        </div>
                                        <div class="form-gr">
                                            <input type="checkbox" id="set-genchb2" name="disable_wall_comments" value="">
                                            <label for="set-genchb2">
                                                <span class="chb">
                                                    <span class="span-inner">
                                                        <span class="square"></span>
                                                        <i class="check square icon"></i>
                                                    </span>
                                                </span>
                                                Disable wall comments
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pset-block chpswd">
                                <div class="s-row">
                                    <div class="s__row-title">Current password <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="password" name="pswd-current" value="" required></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">New password <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="password" name="pswd-new" value="" required></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Confirm password <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="password" name="pswd-confirm" value="" required></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-content mleft">
                                        <button type="submit" id="btn-changepswd" class="ui orange button txt-uppercase">Change password</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pset-block userfields">
                                <div class="s-row">
                                    <div class="s__row-title">First name <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="text" name="user-fname" value="{{ request.user.first_name|default_if_none:"" }}" required></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Last name <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="text" name="user-lname" value="{{ request.user.last_name }}" required></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Username <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="text" name="user-uname" data-action="username" value="{{ request.user.username|default_if_none:"" }}" required></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Email <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="email" name="email" data-action="email" value="{{ request.user.profile.email|default_if_none:"" }}" required></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Phone</div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="tel" name="phone" value="{{ request.user.profile.phone|default_if_none:"" }}"></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Address</div>
                                    <div class="s__row-content">
                                        <div class="input-gr"><input type="text" name="address" value="{{ request.user.profile.address|default_if_none:"" }}"></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Birthday <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="slct-date">
                                            <select class="ui selection dropdown" name="day" id="slct-date-day">
                                                <option value="">Day</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="28">27</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                        </div>
                                        <div class="slct-date">
                                            <select class="ui selection dropdown" name="month" id="slct-date-month">
                                                <option value="">Month</option>
                                                <option value="0">Jan</option>
                                                <option value="1">Feb</option>
                                                <option value="2">Mar</option>
                                                <option value="3">Apr</option>
                                                <option value="4">May</option>
                                                <!-- Saving your scroll sanity !-->
                                                <option value="5">Jun</option>
                                                <option value="6">Jul</option>
                                                <option value="7">Aug</option>
                                                <option value="8">Sep</option>
                                                <option value="9">Oct</option>
                                                <option value="10">Nov</option>
                                                <option value="11">Dec</option>
                                            </select>
                                        </div>
                                        <div class="slct-date">
                                            <select class="ui selection dropdown" name="year" id="slct-date-year">
                                                <option value="">Year</option>
                                                <option value="1960">1960</option>
                                                <option value="1961">1961</option>
                                                <option value="1962">1962</option>
                                                <option value="1963">1963</option>
                                                <option value="1964">1964</option>
                                                <option value="1965">1965</option>
                                                <option value="1966">1966</option>
                                                <option value="1967">1967</option>
                                                <option value="1968">1968</option>
                                                <option value="1969">1969</option>
                                                <option value="1970">1970</option>
                                                <option value="1971">1971</option>
                                                <option value="1972">1972</option>
                                                <option value="1973">1973</option>
                                                <option value="1974">1974</option>
                                                <option value="1975">1975</option>
                                                <option value="1976">1976</option>
                                                <option value="1977">1977</option>
                                                <option value="1978">1978</option>
                                                <option value="1979">1979</option>
                                                <option value="1980">1980</option>
                                                <option value="1981">1981</option>
                                                <option value="1982">1982</option>
                                                <option value="1983">1983</option>
                                                <option value="1984">1984</option>
                                                <option value="1985">1985</option>
                                                <option value="1986">1986</option>
                                                <option value="1987">1987</option>
                                                <option value="1988">1988</option>
                                                <option value="1989">1989</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1991">1991</option>
                                                <option value="1992">1992</option>
                                                <option value="1993">1993</option>
                                                <option value="1994">1994</option>
                                                <!-- Saving your scroll sanity !-->
                                                <option value="1995">1995</option>
                                                <option value="1996">1996</option>
                                                <option value="1997">1997</option>
                                                <option value="1998">1998</option>
                                                <option value="1999">1999</option>
                                                <option value="2000">2000</option>
                                                <option value="2001">2001</option>
                                                <option value="2002">2002</option>
                                                <option value="2003">2003</option>
                                                <option value="2004">2004</option>
                                                <option value="2005">2005</option>
                                                <option value="2006">2006</option>
                                                <option value="2007">2007</option>
                                                <option value="2008">2008</option>
                                                <option value="2009">2009</option>
                                                <option value="2010">2010</option>
                                                <option value="2011">2011</option>
                                                <option value="2012">2012</option>
                                                <option value="2013">2013</option>
                                                <option value="2014">2014</option>
                                                <option value="2015">2015</option>
                                                <option value="2016">2016</option>
                                                <option value="2017">2017</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Gender <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <div class="ui selection dropdown">
                                            <input type="hidden" name="gender" required>
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Gender</div>
                                            <div class="menu">
                                                <div class="item" data-value="1" data-text="Male">
                                                    <img src="{% static 'images/profile/no_photo_male.png' %}">
                                                    Male
                                                </div>
                                                <div class="item" data-value="0" data-text="Female">
                                                    <img src="{% static 'images/profile/no_photo_female.png' %}">
                                                    Female
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">Country <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <select class="ui selection dropdown" name="country" id="slct-country" required>
                                            <option value="">Choose country</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-title">City <span class="field-req">*</span></div>
                                    <div class="s__row-content">
                                        <select class="ui selection dropdown" name="city" id="slct-city" required>
                                            <option value="">Choose city</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="s-row" style="display: none;">
                                    <div class="s__row-title">Language</div>
                                    <div class="s__row-content">
                                        <select class="ui selection dropdown" name="lang">
                                            <option value="">Language</option>
                                            <option value="0">Arab</option>
                                            <option value="1">English</option>
                                            <option value="2">Russian</option>
                                            <option value="3">French</option>
                                            <option value="4">Spanish</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="s-row">
                                    <div class="s__row-content mleft txt-right">
                                        <button type="submit" id="btn-save" class="ui orange button txt-uppercase">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="pset-privacy" class="tab-con">
                    <div class="pset__tabcon-hd"><h4>Privacy</h4></div>
                    <div class="pset__tabcon-wrapper"></div>
                </div>
                <div id="pset-notification" class="tab-con">
                    <div class="pset__tabcon-hd"><h4>Notification</h4></div>
                    <div class="pset__tabcon-wrapper"></div>
                </div>
                <div id="pset-blcomp" class="tab-con">
                    <div class="pset__tabcon-hd"><h4>Blacklist and complaint</h4></div>
                    <div class="pset__tabcon-wrapper"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/profile-settings.js' %}"></script>
{% endblock %}